[2018-04-04 12:34] bchoupartHenji opened #4198 "PHP 7.2 sqlserver lastInsertId"
Note that only PHP 7 compatibility issues are accepted. For security issues contact maintainers privately.

### What steps will reproduce the problem?
sqlserver 2008 R2
php 7.2.3
driver pdo Microsoft/msphpsql for windows for php 7.2

### What is the expected result?
After saving a new CActiveRecord, the primary key is set

### What do you get instead?
the primary key is set to '' (empty string)

#

[2018-04-15 05:52] phena109 opened #4199 "PHP 7.2 each() function in CTabView is deprecated"
As stated in http://php.net/manual/en/function.each.php and http://php.net/manual/en/migration72.deprecated.php#migration72.deprecated.each-function that the each() function is deprecated in PHP 7.2

There are 2 other instances of each() in `/framework/gii/components/Pear/Text/Diff/Engine/native.php` if the fix could extend a little bit further.

### What steps will reproduce the problem?
Simply r

[2018-04-16 11:07] seregagl commented on #4167
There is another one on framework/web/CController.php:928

[code]

[2018-04-16 11:13] samdark commented on #4167
@seregagl would you like to fix it and do a pull request? If not, please create a separate issue. Will be lost here in the closed one...

[2018-04-17 09:50] olleharstedt opened #4200 "Wrong PHPDoc return value in CActiveRecord"
Note that only PHP 7 compatibility issues are accepted. For security issues contact maintainers privately.

### What steps will reproduce the problem?

Check return type of e.g. `findByAttributes`.

### What is the expected result?

`static|null`

### What do you get instead?

`static`

### Additional info

Line: https://github.com/yiisoft/yii/blob/master/framework/db/ar/CActiveRecord.php#L1520

|

[2018-04-17 09:52] olleharstedt commented on #3115
If the return value can be null, the PHPDoc should be `static|null`, not only `static`. Psalm is confused by this.

[2018-04-18 08:45] acebizant opened #4201 "Problemn with registerMetaTag"
Hi,
there is a problem with  `registerMetaTag`
I can't use
Yii::$app->view->registerMetaTag(["name"=>"description","content"=>$description]);
When $description contains HTML entities like &hearts; `&hearts;`
becouse
`renderTagAttributes` does not have parameter to turn off double encode.

Instead of `registerMetaTag` i have to do:
in my base shop controller
Yii::$app->view->params['metadescription

[2018-04-18 09:58] samdark commented on #4201
No. It's a bugfix and bugfixes are no longer accepted to 1.1 except security issues and PHP 7 compatibility.

[2018-04-18 09:58] #4201 closed

[2018-04-23 09:33] olleharstedt commented on #4200
I can do that, but this fix might need to be applied in more places.

[2018-04-23 09:39] cebe commented on #4200
feel free to adjust all places you see.

[2018-04-23 14:08] #4200 closed

[2018-05-11 13:26] aztechowski commented on #4167
There is another issue in CActiveFinder in queryOneMany
in line if(count($fks)!==count($pkTable->primaryKey))
If primaryKey is string the count() doesn't work.
It can be easy fixed with:
`if(count($fks)!==count(array($pkTable->primaryKey)))`

[2018-05-11 14:05] samdark commented on #4167
Would you like to send a pull request fixing it?

[2018-05-14 13:13] aztechowski commented on #4167
I've checked trunk version and it looks it is already fixed with https://github.com/yiisoft/yii/commit/05d2c67555e8b67ef54906148775997acf018840. The latest version 1.1.19 is not.
What are plans regarding 7.2 compatibility? When the next release that is 7.2 compatible will be released?

[2018-05-20 01:07] #4197 closed

[2018-05-20 16:45] ThePepster commented on #4198
In the Issue referenced in the previous comment (https://github.com/Microsoft/msphpsql/issues/694) they link to the updated documentation (https://github.com/Microsoft/msphpsql/wiki/Features#lastinsertid).  Based on that I beleive the best course of action is to remove the lastInsertId method from framework/db/schema/mssql/CMssqlSqlsrvPdoAdapter altogether.

I do not have a MSSQL server so I can't

[2018-05-26 07:40] abramovk commented on #4199
when there will be release 1.1.20?

[2018-05-26 08:14] samdark commented on #4199
When [all 7.2 issues](https://github.com/yiisoft/yii/issues) will be fixed.

[2018-05-26 08:29] abramovk commented on #4199
Thank you. We are all waiting for the release!

[2018-05-27 12:04] khunemz opened #4210 "Property "CDbConnection.db" is not defined."
Note that only PHP 7 compatibility issues are accepted. For security issues contact maintainers privately.

### What steps will reproduce the problem?
Try using Gii

### What is the expected result?
Gii Crud Generator Page

### What do you get instead?
Error : Property "CDbConnection.db" is not defined.

### Additional info

<?php

in database.php
return array(

	'db'=>array(
		'connectionString'

[2018-05-28 09:49] Rafalsky commented on #4210
Can you please provide your full config?

[2018-05-29 12:54] agusdrs commented on #4198
I'm going to make a PR with the changes needed for the new version of the SQLSRV driver, maintaining the workaround for the old versions.

[2018-05-30 15:30] samdark commented on #4199
@aztechowski would you please pull-request your changes?

[2018-05-31 05:40] surgat commented on #4199
Now the first tab is not selected by default

[code]

each return array [key, value]
current return value

activeTab check
[code]

Fixed in #4211

[2018-05-31 09:11] samdark commented on #4199
Merged it.

[2018-06-01 09:14] bytebrain commented on #4167
I've fixed it by setting memory_limit to 256M in my php.ini. ...it does the job for now...

[2018-06-03 10:18] ThePepster commented on #4198
HI,

@agusdrs, @samdark FYI.  That last commit is not compatible with PHP 5.1.  It requires version 5.4 or above.

The offending line is
`intval(explode('.', phpversion('pdo_sqlsrv'))[0])`

[2018-06-03 17:03] rapttor commented on #132
I got this problem with Yii 1.1.x project and almost got crazy:

First make sure you have

        sudo apt install php-xml php-mbstring php-pdo php-mysql

installed, and restart apache

        sudo apachectl restart
        or:
        sudo service apache2 restart

Detailed error was that **database library cannot be found**.

My solution was related to caching:

        cache' => array(

[2018-06-04 16:08] CaptainHypertext commented on #2327
@wangchj So what was your workaround?

[2018-06-04 22:19] #4199 closed

[2018-06-25 15:09] gkmk opened #4215 "CDbCommandBuilder createCountCommand"
https://github.com/yiisoft/yii/blob/master/framework/db/schema/CDbCommandBuilder.php
Line 128
Can we have approximate count instead of actual count?

### What steps will reproduce the problem?
$widget = $this->widget('zii.widgets.grid.CGridView', array(
    'dataProvider' => $model->search(),
    'enableHistory' => true,
    'filter' => $model,
    'columns' => $columns,
        ));

### What is t

[2018-06-25 15:58] samdark commented on #4215
Changes are not accepted to Yii 1.1 so the answer is no.

[2018-06-25 15:58] #4215 closed

[2018-06-28 14:11] mmedojevicbg opened #4216 "Insert command and fields with empty spaces"
Seems that insert command is not generated properly when some of fields contain empty spaces.

### What steps will reproduce the problem?

Yii::app()->db->createCommand()->insert('table_name',
array('field with space 1' => 'value1' ,
'field with space 2' => 'value2'
)
);

### What is the expected result?

Successfully executed SQL query.

### What do you get instead?

Error message: SQLSTATE[HY093

[2018-07-03 15:01] benrivero opened #4217 "Yii 1.1.19 is not compatible in some cases with Php 5.1.6"
I download latest Yii 1 version: 1.1.19 and working with Php 5.1.6 using Gii Tool I cant create Models, I get this error on log.

[03-Jul-2018 09:43:54] PHP Warning:  Unexpected character in input:  '\' (ASCII=92) state=1 in /Applications/MAMP/htdocs/myapp/yii/framework/vendors/zend-escaper/Escaper.php on line 101
[03-Jul-2018 09:43:54] PHP Parse error:  syntax error, unexpected T_STRING in /Appli

[2018-07-03 15:12] samdark commented on #4217
Any idea why?

[2018-07-03 16:37] benrivero commented on #4217
This line:

throw new Exception\InvalidArgumentException(

Use \ symbol for use of namespaces, I Guess that is not compatible with PHP 5.1

[2018-07-03 16:40] rob006 commented on #4217
This was already fixed in master: https://github.com/yiisoft/yii/commit/7944ca5c6f246b22a6c24bdc8ab3e0f6c9c7fcbc

A year ago...

[2018-07-03 16:42] benrivero commented on #4217
I download the 1.1.19 version of the site, that is not updated?

[2018-07-03 16:56] benrivero commented on #4217
I can see that the master version points to 1.1.20 under development. Thanks for your help. (Damn client host, can't upgrade PHP from 5.1.6, is very hard to work with that limitation)

[2018-07-03 16:56] #4217 closed

[2018-07-03 18:37] samdark commented on #4217
Oh, we need to tag it :(

[2018-07-04 08:44] #4182 closed

[2018-07-06 17:11] cebe commented on #4217
going to tag 1.1.20 today.

[2018-08-07 12:17] Niickles opened #4219 "Updating Jquery from 1.11.1 to a newer version"
Hello all, we are working to renew a fairly large website and we want to implement a new jquery version...

we looked at upgrading yii from version 1.14 to 1.20 but sadly jquery 1.11.1 is still being used here. upgrading to yii 2.x will take a lot of time and we dont really have that time.
for us to be able to update to a more recent version of jquery which version would be the best and easiest to

[2018-08-07 16:08] samdark commented on #4219
Replace it as an asset served from your source code.

[2018-08-07 16:08] #4219 closed

[2018-08-09 13:40] martinpetrasch opened #4220 "PHP 7.2 create_function in CHttpRequest is deprecated"
**create_function** in class *CHttpRequest* and function *getPreferredLanguages()* is deprecated in PHP 7.2.0 as stated in http://php.net/manual/de/function.create-function.php

### What steps will reproduce the problem?
Call *getPreferredLanguages()* from `CHttpRequest`

### What is the expected result?
Should run without throwing an error.

### What do you get instead?
`Function create_function(

[2018-08-16 09:01] ThePepster commented on #4220
Just a note. Yii 1.1.20 is compatible with PHP 5.1.0 and above. The pull request above is not compatible with PHP 5.1 or 5.2.

[2018-08-27 08:07] wajdijurry commented on #1883
It works for me :)
Thanks for the tip

[2018-08-27 13:26] dimvic opened #4222 "Referencing owner model in active record relation definition"
I have this question regarding the active record that has been troubling me for so long and I'm going to ask it...

Is it possible to use the owner model's alias in a relation? Like reference it as `t` or something and have it substituted when the relation is referenced?

[code]

Using `"article.type={$this->tableAlias}.type"` or anything in these lines does not work because the relations are adde

[2018-09-04 00:55] dicrtarasov opened #4224 "disable relations in toArray"
I have one2many links:

[code]

And I want return JSON array of pages:

[code]

But each "page" element of array filled with related app\models\Task object in "task" property :((( And I never ask eager loading with('task'):

[code]
$query->with is empty, but task property of page is filled with Task object in asArray query.
How to disable related task property in array query? Not needed to many re

[2018-09-04 01:12] rob006 commented on #4224
Actually you did. This is how `inverseOf()` works - `Task` model is injected as a relation to all related `Page` models. Try reset this setting:

[code]

[2018-09-04 08:02] dicrtarasov commented on #4224
It works. Sorry.

[2018-09-04 08:04] #4224 closed

[2018-09-04 16:22] ioros opened #4225 "lecache"
Note that only PHP 7 compatibility issues are accepted. For security issues contact maintainers privately.

### What steps will reproduce the problem?

### What is the expected result?

### What do you get instead?

### Additional info

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.?
| PHP version      | 7.?
| Operating system |

[2018-09-04 17:18] #4225 closed

[2018-09-17 10:46] ahmadasjad opened #4226 "reset() expects parameter 1 to be array, integer given in GII diff"
Note that only PHP 7 compatibility issues are accepted. For security issues contact maintainers privately.

### What steps will reproduce the problem?

[model_and_controller_to_check_yii1.1.20_gii_error.zip](https://github.com/yiisoft/yii/files/2388211/model_controller_to_check_yii1.1.20_gii_error.zip)
There are two files one is a controller and another is a model. Once you'll try to regenerate th

[2018-09-17 10:49] ahmadasjad commented on #4226
### Here is the stacktrace:
[code]

[2018-09-18 11:35] samdark commented on #4226
Thanks for reporting but only PHP 7 incompatibilities and security fixes are accepted.

[2018-10-15 06:48] gianniszach opened #4227 "PHPUnit-6 introduced change that breaks compatibility with php-7.2"
### Background information
My Yii project is running on php-5.6 and the tests on phpunit5. During our migration to php-7.2 we noticed that PHPUnit needs an upgrade to at least version PHPUnit-6 upgrade to support php-7.2.

The issue is caused by PHPUnit-6 where the `PHPUnit_Framework_TestCase` is removed and replaced with `PHPUnit\Framework\TestCase` ([migrating to phpunit-6](https://thephp.cc/new

[2018-10-18 20:34] kenguest opened #4229 "Deprecation errors in framework/web/js/source/jquery.yiiactiveform.js when using jQuery3.1.1"
Migrating/Using jQuery 3.1.1 highlights some deprecation errors in framework/web/js/source/jquery.yiiactiveform.js

I've create a Pull Request which fixes it (PR#4228)

[2018-10-18 21:13] #4229 closed

[2018-10-26 01:01] jjdunn commented on #4167
Please forgive me if this is not the correct issue on which to report problems, but there's at least one place that got missed.  Just upgraded to Yii 1.1.20 today and PHP 7.2.11.

in /framework/db/schema/CDbCriteria.php
`public function addInCondition($column,$values,$operator='AND')
	{
		if(($n=count($values))<1)
			$condition='0=1'; // 0=1 is used because in MSSQL value alone can't be used in WH

[2018-10-26 08:05] rob006 commented on #4167
`$values` should be array according to PHPDoc - if you get this error it means that you're calling these methods in a wrong way.

[2018-10-26 11:09] jjdunn commented on #4167
our application has been using Yii since 2009 and it's worked fine - the methods mentioned in the previous comment have been quite robust at handling various arguments.  Sometimes it gets called with empty value, or single (non-array) value; or array with 1 element, or array with multiple elements.  The first three cases break now in PHP 7.2

The patches in my previous comment are to make the fram

[2018-10-26 11:41] cebe commented on #4167
If you pass a scalar value as `$values` the `count()` will return 1, which gets you into the `elseif($n===1)` branch. There you have `$value = reset($values)`, which would fail because `reset()` expects an array.

So I do not see how your code runs fine in other PHP versions < 7.2: https://3v4l.org/nHrpA

[2018-10-26 12:01] jjdunn commented on #4167
Thank you @cebe and @rob006 for this feedback.

I have taken this opportunity to audit all our application code that uses CDbCriteria::addInCondition() and ::addNotInCondition().  All instances *except one* pass an array as the $value parameter.  The one case where a non-array is (sometimes) passed, it's always empty.  I will fix the application code in this one case.

[2018-11-21 05:40] rekhakum opened #4230 "Issue when use SSE with Yii"
I try to use SSE(Server Sent Event) with Yii. I am trying to trigger 2 ajax from view file. One for SSE and one to run my long running stored procedure. I see from Console that it triggers both AJAX at the same time but the second request is kept on waiting until the first one finish.  We can't run both at the same time together?

[2018-11-21 08:12] samdark commented on #4230
Please use forum for questions: https://forum.yiiframework.com/

[2018-11-21 08:12] #4230 closed

[2018-11-26 10:56] mochalygin commented on #1557
@samdark
It may be reproduced if auto_increment field is not the Primary key -- always returns 0

[2018-11-26 11:06] mochalygin commented on #1557
FYI, it is PDO problem, Yii just uses wrong PDO answer

[2018-11-28 14:21] My6UoT9 opened #4233 "INI directive session.entropy_length is removed since PHP 7.1"
According to https://secure.php.net/manual/en/session.configuration.php#ini.session.entropy-length
That directive does not exist anymore.

In CSecurityManager it is used
[code]

Is this a problem, or is it irrelevant?

### Additional info

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.20
| PHP version      | 7.2

[2018-11-28 23:18] phena109 commented on #4233
By just reading the code, it seems that there is a fallback for the random number generation. Instead of using the `generateSessionRandomBlock()` function, it will use `generateSessionRandomBlock()`.

My personal opinion is, it should not be a problem because it has a fallback. Also, Yii 1.1 branch will need to maintain BC to PHP 5.1 and above so that portion of code is likely to stay for that rea

[2018-12-05 00:09] jjdunn commented on #4220
Um...this ticket should please be reopened, because:
 1. the fix from ThePepster is valid, but must be replicated in yiilite.php copy of CHttpRequest::getPreferredLanguages()
 2. there's another usage of create_function() in framework/logging/CProfileLogRoute.pdf ::displaySummary()

[2018-12-05 08:10] samdark commented on #4220
yiilite.php is regenerated on release.

[2018-12-14 15:38] Alankar-sri-icreon commented on #2541
sdsfsf

[2018-12-18 20:31] TomasVotruba commented on #4220
For future cases of `create_function`, [I wrote a tool that converts it instantly](https://www.tomasvotruba.cz/blog/2018/12/17/function-create-function-is-deprecated-in-php-72-how-to-migrate/).

[2018-12-20 23:02] kenguest opened #4234 "CVE-2018-14773. Drop support for HTTP_X_REWRITE_URL."
Drop support for X-REWRITE-URL header, thus fixing a manifestation of a CWE-19 Data Handling Vulnerability, specifically recorded as CVE-2018-14773 in the Symfony HTTPFoundation component but occuring elsewhere, such as in Zend Framework (ZF2018-01).

I discussed providing this code fix privately with @samdark - he suggested a Pull Request.

[2018-12-30 22:18] #4234 closed

[2019-01-14 12:47] ddziaduch commented on #4233
Does this component event work? It required mcrypt which was deprected in 7.1 and removed in 7.2 🤔

[2019-01-21 07:35] sindhavsumit opened #4237 "prevent this page from creating additional dialogs issue in yii ajax reload"
**### **- Prevent this page from creating additional dialogs****
when we delete record using yii cgridview and after we try to delete another record so display "Prevent this page from creating additional dialogs" message

[2019-01-22 17:06] stevoh6 opened #4238 "CJavaScript::quote(null); throws error, incompatible change since Yii 1.1.20"
Note that only PHP 7 compatibility issues are accepted. For security issues contact maintainers privately.

### Background information
Since many applications running on Yii1 are quite old, we are facing one backward incompatible change.

I'm suggesting add simple check, pull request created.

### What steps will reproduce the problem?
Using
`CJavaScript::quote(null); `
throws error.
### What is t

[2019-01-22 18:44] rob006 commented on #4238
This looks like a bug in your app. Why would you want to quote `null`?

[2019-01-22 20:59] samdark commented on #4238
It was never type-hinted to accept null so I'd like to hear the reason as well.

[2019-01-25 12:50] stevoh6 commented on #4238
Hi, I fully understand, that this is unusual usage this function, I was take over couple old projects and it was pretty surprise for me how it was implemented in our projects, but I get the idea why. Of course it can be rewrite and Im already make some adjustment to avoid this "behavior", but it would be to nice don't change old behavior. So I decided open pull request, maybe someone have similar

[2019-01-28 05:32] ddziaduch commented on #4238
Even the method signature shows that you should pass a string: `public static string quote(string $js, boolean $forUrl=false)`

[2019-01-28 05:34] ddziaduch commented on #4238
I can fix this 🙂

[2019-01-29 17:40] #4238 closed

[2019-01-30 07:26] Sun-FreePort opened #4242 "Column is int & unsigned, why gii generate model type is string?"
### What's main ?

I usually use Unix timestamp.

Gii generate model is string type of Unix timestamp columns.

So, i find get it:

https://github.com/yiisoft/yii/blob/4874064325c12c338229549702df60c2d3101744/framework/db/schema/mysql/CMysqlColumnSchema.php#L11-L36

The "int" & "unsigned" column is string (and use partial match), why so designed ?

### Tip

I find this issue https://github.com/yii

[2019-01-30 09:04] samdark commented on #4242
That is known issue that won't be fixed since Yii 1.1 is in security and PHP 7 compatibility mode only.

[2019-01-30 09:04] #4242 closed

[2019-02-06 13:21] thesame- commented on #2681
Sorry for bumping this old issue.

I believe there is a use case for `together = false` in `BELONGS_TO` and `HAS_ONE`.

So I have this scenario, where I have paired invoices. Invoice model is related to itself as child. If I would try to load invoice with its items and its related invoice and items, I would get `Not unique table/alias: 'items'.`.

[code]
To avoid alias conflict, I would prefer thi

[2019-02-12 12:19] #4220 closed

[2019-02-12 14:35] samdark opened #4247 "Fix PHP 7.3 errors or remove PHP 7.3 support"
See https://travis-ci.org/yiisoft/yii

[2019-02-13 09:55] #4247 closed

[2019-02-13 15:22] edebise opened #4249 "Logical defect in CModel->validate(attribute)"
### What steps will reproduce the problem?
When calling CModel->validate('attribute')

### What is the expected result?
We expect to get true if this CModel->attribute has no error
It has to check only if 'attribute' is valid.

### What do you get instead?
But we get true if CModel has no error.
It checks if all CModel is valid as calling CModel->validate(null).

In framework/base/CModel.php line

[2019-02-13 15:31] rob006 commented on #4249
First argument should be an array. Does it work if you call `validate(['attribute'])`.

[2019-02-13 16:24] edebise commented on #4249
Hi, yes it works better! I didn't see 'array' in the doc, Sorry.

[2019-02-14 07:44] #4249 closed

[2019-02-15 09:46] andrtechno opened #4250 "CHtml ajax.abort()"
Предлагаю сделать xhr.abort(); в CHtml

как я это сделал
**CHtml::clientChange**
[code]

**CHtml::ajax($options, $id=false) //add $id**

[code]
Суть я думаю понятна.

[2019-02-15 09:48] samdark commented on #4250
Спасибо за репорт, но в ветку 1.1 принимаются только фиксы безопасности и совместимости с PHP 7.

[2019-02-15 09:48] #4250 closed

[2019-03-04 07:39] caihaibin1991 commented on #4182
pecl install channel://pecl.php.net/mcrypt-1.0.1

[2019-03-05 15:28] samdark commented on #4227
I think it could be solved in a way similar to https://github.com/yiisoft/yii2/blob/master/tests/compatibility.php

[2019-03-07 05:48] peterngockhoa opened #4251 "Check file existence before including it in YiiBase::autoload() (no namespace)"
### What steps will reproduce the problem?
Run test case using PHPUnit 7.5.2+

### What is the expected result?
Do not show warning for include a non-existed file

### What do you get instead?
I run `phpunit --debug api` with "api" is the folder, but it shows warning for include a non-existed file (api.php).
![image](https://user-images.githubusercontent.com/7524282/53934379-31d89500-40d5-11e9-8a1

[2019-03-07 08:52] rob006 commented on #4251
Duplicates https://github.com/yiisoft/yii/pull/4240

[2019-03-07 08:57] peterngockhoa commented on #4251
@rob006, although this is duplicated, but how about the solution which I provided? Does it affect performance of Yii? I'm not sure about performance between getting absolute path from `stream_resolve_include_path()` vs using directly `include()`

[2019-03-07 11:00] rob006 commented on #4251
`stream_resolve_include_path()` is not available in PHP 5.1 and 5.2, so we cannot use it.

[2019-03-07 11:08] My6UoT9 commented on #4251
check first php version then do one or the other?

[2019-03-07 11:11] rob006 commented on #4251
But what is the point? If you don't want blind `include` call, set `Yii::$enableIncludePath` to `false`.

[2019-03-08 02:10] peterngockhoa commented on #4251
OK, got it. Thanks!

[2019-03-08 02:10] #4251 closed

[2019-03-12 17:30] georaldc commented on #4182
For those who do not want to install mcrypt with pecl, a quick fix is to just follow advice by @KJLJon and add phpseclib/mcrypt_compat to your composer dependencies, then extend CSecurityManager, override the openCryptModule() method and remove the ```extension_loaded('mcrypt')``` condition.

[2019-03-15 11:13] trulave opened #4252 "Assets: file not exists"
### What steps will reproduce the problem?
Register file somewhere in application
[code]
Then publish directory somewhere else
[code]

### What is the expected result?
/assets/8d24d942/another_style.css
Request Method: GET
Status Code: 200 OK

### What do you get instead?
/assets/8d24d942/another_style.css
Request Method: GET
Status Code: 404 Not Found

### Description
The root of the problem in `

[2019-03-16 20:14] samdark commented on #4252
Thanks for report but bugs aren't being fixed in 1.1 branch except security issues and PHP compatibility.

[2019-03-16 20:14] #4252 closed

[2019-03-18 19:30] ddziaduch commented on #4227
@samdark @gianniszach there is already solution for that. There is a file in the repo: https://github.com/yiisoft/yii/blob/master/tests/compatibility.php

Include it in your `bootstrap.php` file and it will work. Probably 😀

[2019-03-19 10:32] gianniszach commented on #4227
Yes, the [compatibility.php file](https://github.com/yiisoft/yii/blob/master/tests/compatibility.php) solves the issue with `PHPUnit_Framework_TestCase` class but not with `PHPUnit_Runner_Version`.

Which, as @samdark, said it can be solved in the same way. Adding this to compatibility.php fixed the issue with `PHPUnit_Runner_Version` too.
[code]

[2019-03-19 23:13] samdark commented on #4227
@gianniszach would you like to send a pull request?

[2019-03-21 09:08] #4227 closed

[2019-03-29 13:29] My6UoT9 commented on #4233
Yes this works fine, as @phena109 commented. As the algorithm checks for existence of mcrypt first, before using it.

[2019-03-29 14:21] #4233 closed

[2019-04-01 04:35] yapro opened #4254 "CActiveRecord.getTableAlias() bug"
Note that only PHP 7 compatibility issues are accepted. For security issues contact maintainers privately.

### What steps will reproduce the problem?

docker run lebnik/php:yii1-bug-1 php /tmp/yii/WebRoot/testdrive/protected/yiic mybug

or manualy: look at https://github.com/yapro/php/blob/yii1-bug-1/Dockerfile

### What is the expected result?

2:2

### What do you get instead?

0:2

`mybug` is

[2019-04-01 09:35] samdark commented on #4254
That doesn't look like PHP compatibility issue. Fixed are no longer accepted to Yii 1.1.

[2019-04-01 09:35] #4254 closed

[2019-04-29 14:40] kenguest opened #4256 "PHP 7 compatibility issues: PHP4 style constructor and create_function()"
gii/components/Pear/Text/Diff3.php:
Use of deprecated PHP 4 style class constructor is not supported in PHP7+

vendors/markdown/markdown.php:
create_function() is deprecated since PHP7.2 - should be using an anonymous function instead.

[2019-04-29 15:12] samdark commented on #4256
Constructor part solved.

[2019-04-29 15:12] kenguest commented on #4256
I've reinstated use of create_function in markdown.php so to keep compatibility with 5.1.x as requested.

Looking at the changelog it seems others replaced create_function calls with anonymous functions elsewhere, facilitating migration to a maintained version of PHP.

This is why I'm making these changes in the first place....

[2019-04-29 15:18] samdark commented on #4256
@kenguest no. https://github.com/yiisoft/yii/commit/68e5e86a11162a54673d83f8d0a5939b621d8040

[2019-05-09 09:29] monikakatiyar16 opened #4258 "Default value error for a not null DB column with PHP 7.2"
I have a table with a NOT NULL column, say employee_summary. This column contains value only if the user is an employee, otherwise not.

For a non-employee use case, the insert/update using Yii 1.1.21, MySQL 5.5, PHP 5.6, it works correctly and inserts an empty string there.

When I try to execute the same use case on Yii 1.1.21, MySQL 5.7, PHP 7.2, it gives me the following error:
"CDbCommand fai

[2019-05-09 18:52] samdark commented on #4258
Can you try to downgrade PHP version without downgrading MySQL? Would it be the same error?

[2019-05-10 05:13] monikakatiyar16 commented on #4258
@samdark I tried downgrading the PHP to v5.6. It still gives the same error.

[2019-05-10 06:04] samdark commented on #4258
Then it's not PHP 7 compatibility issue but MySQL my.ini settings.

[2019-05-10 06:04] #4258 closed

[2019-05-10 11:13] monikakatiyar16 commented on #4258
Okay.. Could you please guide me what to check for in MySQL ini settings. I did compare the ini settings on both the servers (Yii 1.1.21, MySQL 5.5, PHP 5.6, Ubuntu 14) vs (Yii 1.1.21, MySQL 5.7, PHP 7.2, Ubuntu 18).

[2019-05-10 11:46] rob006 commented on #4258
This is related to strict mode enabled by default in MySQL 5.7. You should add `default` rule to your model validation, which will set this attribute to empty string. Or add default value to this column in DB.

[2019-05-10 12:52] monikakatiyar16 commented on #4258
@robregonm Thank you so much. That helped! :)

[2019-05-10 16:02] buibr opened #4259 "500 internal error"
Today 10/05/2019 updated Yii by composer update.

Every request that i make to my application through ajax reques, it returns 500 Internal error with data in body.

So, the data is ok but the code is not good.

https://imgur.com/5WQrXnr

https://imgur.com/UcCInir

### What steps will reproduce the problem?
I dont know?!!

### What is the expected result?
Should return 200 code.

### What do you ge

[2019-05-10 20:18] samdark commented on #4259
This repository is for Yii 1.1. Please report to https://github.com/yiisoft/yii2

[2019-05-10 20:18] #4259 closed

[2019-05-12 02:50] buibr commented on #4259
Thanks @samdark i just fixed the problem was
yii2-debug some file were missing when updated by composer.

[2019-05-20 16:13] php5developer opened #4260 "PHP 7.3 mcrypt removed"
Note that only PHP 7 compatibility issues are accepted. For security issues contact maintainers privately.

### What steps will reproduce the problem?

Since mcrypt extension was removed in PHP 7.3 so when I call **CSecurityManager** class **encrypt** or **decrypt** method I get error:

Error: Call to undefined function mcrypt_module_get_supported_key_sizes() in \framework\base\CSecurityManager.ph

[2019-05-20 16:36] PrplHaz4 commented on #4260
@php5developer https://github.com/yiisoft/yii/issues/4182

[2019-05-20 23:05] samdark commented on #4260
@php5developer are you sure you're using latest version?

[2019-05-23 16:59] npushkov opened #4261 "PHP 7.3 CUrlValidator with validateIDN option: INTL_IDNA_VARIANT_2003 is deprecated"
Note that only PHP 7 compatibility issues are accepted. For security issues contact maintainers privately.

### What steps will reproduce the problem?

Validate any url via CUrlValidator with `validateIDN` option set to `true`

### What is the expected result?

Url is validated without PHP errors

### What do you get instead?

PHP Error [500]
idn_to_ascii(): INTL_IDNA_VARIANT_2003 is deprecated

#

[2019-05-25 18:25] php5developer commented on #4260
Just downloaded latest version from github and website. In both archives CSecurityManager has a lot of "mcrypt_*" functions calls. As I understand mcrypt was removed in PHP 7.3

[2019-05-25 20:34] machour commented on #4260
@php5developer mcrypt was removed from PHP 7.2, but you can still install it from PECL (https://github.com/yiisoft/yii/issues/4182#issuecomment-355245105), or use a compat library (https://github.com/yiisoft/yii/issues/4182#issuecomment-367518611).

[2019-05-25 20:34] #4260 closed

[2019-05-25 21:23] php5developer commented on #4260
@machour Understood. Thank you.

[2019-05-26 12:24] machour commented on #4261
@npushkov should be fixed by #4262, could you give it a try?

[2019-05-27 13:14] olleharstedt opened #4263 "Cache get() returns false at no value, should return null"
The interface to the cache system is sub-optimal. There's no way to cache a boolean value, since get() will return false at failure. If it's changed to return null instead, it will be possible to cache anything.

This seems to be the case in both Yii 1 and 2. Didn't check 3.

[2019-05-27 14:56] machour commented on #4263
Yii 3 is PSR-16 compatible and will return null: https://github.com/yiisoft/cache

Closing this since Yii 1 & Yii 2 are in feature-freeze mode, so this won't be changed.

[2019-05-27 14:56] #4263 closed

[2019-05-27 15:37] olleharstedt commented on #4263
Thanks for the feedback.

[2019-05-29 15:11] npushkov commented on #4261
@machour I have tried it, #4262 fixes this issue. Thank you!

[2019-05-29 15:29] machour commented on #4261
Thank you, let's keep this issue open until the PR gets merged.

[2019-05-29 19:45] #4261 closed

[2019-05-29 19:45] samdark commented on #4261
Its merged. @machour thank you for looking into it.

[2019-06-13 03:25] leasg opened #4264 "YII_CSRF_TOKEN should be compared in case-insensitive manner"
header YII_CSRF_TOKEN should be compared as case-insensitive according to http specification.

https://tools.ietf.org/html/rfc2616#section-4.2
---
4.2 Message Headers

   HTTP header fields, which include general-header (section 4.5),
   request-header (section 5.3), response-header (section 6.2), and
   entity-header (section 7.1) fields, follow the same generic format as
   that given in Section

[2019-06-13 03:39] ddziaduch commented on #4264
Seems that this token is never read from the headers:

Please check this method:
https://github.com/yiisoft/yii/blob/0f136db89eb5b76daf5a9cf4389ee79a4943544b/framework/web/CHttpRequest.php#L1339

[2019-06-13 06:24] leasg commented on #4264
Thank you. You are right. Sorry what didn't look source code deeper. So by this way bug exist directly on web site.

[2019-06-13 06:25] leasg commented on #4264
So I close this bug.

[2019-06-13 06:25] #4264 closed

[2019-06-14 21:48] georgezim85 commented on #4058
Imagine that you need to publish an asset from a directory called "jquery.complexify" in "your_app/node_modules/"
There goes an example:

[code]

[2019-07-05 21:24] vyachin opened #4265 "PHP 7.3 Call to undefined function mcrypt_module_get_supported_key_sizes()"
Note that only PHP 7 compatibility issues are accepted. For security issues contact maintainers privately.

### What steps will reproduce the problem?
делаем простой проект и настраиваем SecurityManager через конфиг приложения. Нас интересует это свойство https://www.yiiframework.com/doc/api/1.1/CSecurityManager#encryptionKey-detail
Приложение можно заменить простым скриптом
[code]
### What is the

[2019-07-05 22:57] samdark commented on #4265
Установлен ли mcrypt?

- https://github.com/yiisoft/yii/issues/4182#issuecomment-355245105
- https://github.com/phpseclib/mcrypt_compat

[2019-07-07 15:54] vyachin commented on #4265
Нет

https://www.php.net/manual/en/migration71.deprecated.php

[2019-07-07 16:23] #4265 closed

[2019-07-31 07:05] lengshuiyulangcn opened #4267 "Primary key from Model object Method is Prior to DB Schema"
Note that only PHP 7 compatibility issues are accepted. For security issues contact maintainers privately.

### What steps will reproduce the problem?

1. Extend CActiveRecord to be your own base class `BaseModel`.
2. Override `public function primaryKey()` to set the default primary key to be `id`
3. You extend the base class to be `SubModel`, mapping to a table with different primary key `(xxx_i

[2019-07-31 07:14] b1rdex commented on #4267
As `primaryKey()` description states, it's return value is used only if present. So it's the only way to override/define the primary key for the table. What would be the point of this method if its return value would be overridden by DB schema?

Just remove that `primaryKey()` in the parent class (if it's really base for all of your models) or override it with `return null` to force DB schema data

[2019-07-31 07:28] lengshuiyulangcn commented on #4267
@b1rdex Thank you for reply.
I'm ok with the solution. Without modifying the framework itself I'm currently finding out all the model and check their schema to prevent the exception.
But do you have any example where we need to override/redefine the primary key in model which already been defined in the db schema.

[2019-07-31 07:57] b1rdex commented on #4267
@lengshuiyulangcn yes, actually we have such usage in our production codebase. One of the tables has an auto-incremented primary key, but we redefine it with `primaryKey()` to another computed key, that has checksum digit added to `id`. This way we didn't have to rewrite all the queries we had when we started to use checksum-added ids.

[2019-07-31 08:05] lengshuiyulangcn commented on #4267
@b1rdex  Thank you for explaining.  I will close the issue.

[2019-07-31 08:05] #4267 closed

[2019-09-18 11:25] twisted1919 opened #4268 "yiilite.php broke 1.1.20"
### What steps will reproduce the problem?
Enable APC and use the framework (yiilite.php bootstrap file) with any code that eventually will try to access `CHttpSession::setCacheLimiter`

### What is the expected result?
For things to work

### What do you get instead?
Undefined method `CHttpSession::setCacheLimiter`

### Additional info
This traces down to how yiilite.php file is created, most lik

[2019-09-18 13:39] samdark commented on #4268
That's weird. `yiilite.php` is built with the latest changes. You can check yourself with `./build/build lite`.

[2019-09-18 13:40] samdark commented on #4268
Here's setCacheLimiter: https://github.com/yiisoft/yii/blob/master/framework/yiilite.php#L4880

[2019-09-18 13:41] samdark commented on #4268
Can you try 1.1.21 and master?

[2019-09-18 13:49] twisted1919 commented on #4268
Apparently with 1.2.1 things work just fine, so i am not sure what happened, sorry for the troubles.

[2019-09-18 13:49] #4268 closed

[2019-09-18 13:58] GerrGIT commented on #4268
Had this a while ago, turned out the php of command line was using different php.ini which has no PDO enabled. Not sure if the same issue, but sounds exactly like it.

[2019-10-04 09:48] krunder opened #4269 "bindValues() causing PHP 7.2 compatibility error from count()"
Note that only PHP 7 compatibility issues are accepted. For security issues contact maintainers privately.

### What steps will reproduce the problem?

Passing null through the $values parameter on the bindValues() method in CdbCommandBuilder.php.

### What is the expected result?

The count function return 0 as would usually be the case with versions of PHP below 7.2.

### What do you get instead

[2019-10-04 10:05] rob006 commented on #4269
This method expects array. In which case `null` will be passed?

[2019-10-14 13:23] Tarasovych commented on #4137
Same error with 2.0.15.1

[2019-10-14 13:25] samdark commented on #4137
This is Yii 1.1 issue tracker. Please submit to https://github.com/yiisoft/yii2

[2019-10-18 22:21] travisdoherty opened #4271 "Race condition creating cache directory for CFileCache"
### What steps will reproduce the problem?

With enough load put on a newly released instance of a Yii application it is possible to see a race condition in the `init()` function of CFileCache. The `mkdir()` command happens immediately following an `is_dir()` check. Here there is enough time that another process may have already created the directory.

### What is the expected result?

The functio

[2019-10-18 22:25] travisdoherty commented on #4271
Hmm, its not a PHP 7.2 compatibility issue. Closing.

[2019-10-18 22:25] #4271 closed

[2019-10-31 14:41] ursuleacv opened #4272 "PHP Error[2]: include(ParagonIE_Sodium_Compat.php): failed to open stream: No such file or directory"
When installing `paragonie/sodium_compat` I'm getting the following error:

**PHP Error[2]: include(ParagonIE_Sodium_Compat.php): failed to open stream: No such file or directory**

The class ParagonIE_Sodium_Compat cannot be found in **cli** mode, works fine in php-fpm.

### What steps will reproduce the problem?
- Install Yii framework 1.x
- cd protected
- run composer require paragonie/sodium_c

[2019-10-31 21:24] rob006 commented on #4272
You may need to set [`YiiBase::$enableIncludePath`](https://www.yiiframework.com/doc/api/1.1/YiiBase#enableIncludePath-detail) to `false` if you want to use Yii autoloader together with composer autoloader.

[2019-11-01 20:15] ursuleacv commented on #4272
Where do I add it?
I've tried before and after

`Yii::createConsoleApplication($config)->run();`

it didn't work

[2019-11-06 14:11] thekonz opened #4273 "setcookie $options to allow setting of SameSite flag"
Google Chrome will soon (January 2020) basically block third-party cookies, if they do not have the SameSite flag set. See [this](https://www.chromestatus.com/feature/5088147346030592) and [that](https://www.chromestatus.com/feature/5633521622188032) for more information on the Chrome side of things.

PHP 7.3 changed `setcookie` to receive an `$options` parameter, which allows to set the SameSite

[2019-11-07 08:43] samdark commented on #4273
Yes. Look like exactly that category. Do you want to prepare a pull request?

[2019-11-07 10:17] thekonz commented on #4273
Sure, will do later.

[2019-11-07 20:04] rob006 commented on #4272
Anytime before `ParagonIE_Sodium_Compat` is used. Probably right after including `framework/yii.php` file.

[2019-11-08 09:53] thekonz commented on #4273
Well, the PR is there, but travis complains about some mysql server not being available.

[2019-11-11 16:51] #4273 closed

[2019-11-13 19:38] krunder commented on #4269
Apologies for the late reply on this. It looks to be that null is generally passed into the bind values if non are specified. I experienced this with one of the projects I am working on at work.

[2019-11-14 08:16] samdark commented on #4269
@krunder why would bindValues() be called if nothing is being bound?

[2019-11-26 11:28] fazliddin opened #4276 "CDataColumn::value property doc must contain that if Active record, then $data->{column_name}, if sqldataprovider then $data['column_name']"
https://www.yiiframework.com/doc/api/1.1/CDataColumn#value-detail

[2019-11-26 11:41] samdark commented on #4276
Do you want to send a pull request?

[2019-12-02 09:24] kenguest opened #4279 "Curly brace notation used for accessing string offsets, causing deprecation notices in PHP 7.4.0"
### What steps will reproduce the problem?

Using framework running on PHP 7.4.0 highlighted some instances where Curly brace syntax for accessing array elements and string offsets has been deprecated in PHP 7.4. There are also some issues re get_magic_quotes_gpc being called.

### What is the expected result?
No deprecation messages should be encountered.

### What do you get instead?

### Additi

[2019-12-02 09:50] dux86 commented on #3997
Thank you! It heps.

for amirvenus: "Where do you set those two constants?"
in index.php

[2019-12-02 21:02] #4279 closed

[2019-12-10 13:21] Jay04653 opened #4281 "PHP 7.4 compatibility (get_magic_quotes_gpc)"
`Function get_magic_quotes_gpc() is deprecated (/web/project/vendors/yiisoft/yii/framework/web/CHttpRequest.php:130)`

### Additional info

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.21
| PHP version      | 7.4
| Operating system | Ubuntu 18.04.3 LTS

[2019-12-10 13:31] rob006 commented on #4281
This is already fixed by https://github.com/yiisoft/yii/pull/4278. Try master branch.

[2019-12-10 13:43] Jay04653 commented on #4281
Ok, thank you!

[2019-12-10 13:43] #4281 closed

[2019-12-12 11:48] fazliddin commented on #4276
ok, I will

[2019-12-16 04:28] gerwel opened #4282 "PHP 7.0.30"
### What steps will reproduce the problem?
PHP 7.0.30

Hi we are currently using PHP 7.0.30 and still using Yii 1.1.17, We are planning to upgrade to yii 1.1.21 and based on your documentation only to supported PHP version , We are still planning to use 7.0.30 as of the moment to use yii framework. can this be work ???.

### Additional info

| Q                | A
| ---------------- | ---
| Yii ve

[2019-12-16 05:17] phena109 commented on #4282
As far as I know, it should work.

[2019-12-16 08:41] samdark commented on #4282
Yes. Should work.

[2019-12-16 08:41] #4282 closed

[2019-12-25 11:50] XPOHOC269 commented on #4281
@samdark it is not fixed in yiilite.php
`Deprecated: Function get_magic_quotes_gpc() is deprecated in /srv/yii/current/framework/yiilite.php`

[2019-12-25 11:54] XPOHOC269 opened #4283 "Deprecated: Function get_magic_quotes_gpc() is deprecated in /srv/yii/current/framework/yiilite.php on line 2328"
Deprecated: Function get_magic_quotes_gpc() is deprecated in /srv/yii/current/framework/yiilite.php on line 2328

### What steps will reproduce the problem?

### What is the expected result?

### What do you get instead?

### Additional info

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.21
| PHP version      | 7.4
| Operating system | Ubuntu

[2019-12-25 12:06] samdark commented on #4281
https://github.com/yiisoft/yii/commit/1a8654ca2ca242025f9aadd316b529a451979c38

[2019-12-25 12:06] samdark commented on #4283
https://github.com/yiisoft/yii/commit/1a8654ca2ca242025f9aadd316b529a451979c38

[2019-12-25 12:06] #4283 closed

[2019-12-25 12:12] XPOHOC269 commented on #4283
@samdark thanks a lot

[2020-01-06 16:22] twisted1919 opened #4284 "Function get_magic_quotes_gpc() is deprecated"
### What steps will reproduce the problem?
Use PHP 7.4

### What is the expected result?
Not getting any error

### What do you get instead?
Deprecated: Function get_magic_quotes_gpc() is deprecated in /vendor/yiisoft/yii/framework/web/CHttpRequest.php on line 130

### Additional info

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.21
| PHP version      | 7.4
| Operating

[2020-01-06 22:36] samdark commented on #4284
Would you like to help with a pull request?

[2020-01-07 07:21] twisted1919 commented on #4284
@samdark - sure i can, but what about all the other issues concerning php 7.4? The reason i wrote this mostly is because the framework needs a bit of a revamp for php 7.4 and needs core contributors attention. If you'd like us to donate a bit to make this happen, just let me know, otherwise i can submit that pull request, again, just let me know.

[2020-01-07 09:21] b1rdex commented on #4284
AFAIK, all other php 7.4 issues are fixed already in master. What other issues you mentioned are?

[2020-01-07 09:26] twisted1919 commented on #4284
I meant the other two open issues for php 7.x from this repo, #4256 and #4269 which aren't closed so i assumed aren't fixed.
And also, additional overall checks for php 7.4 compatibility, which as far as i can tell where never done.

[2020-01-07 10:09] samdark commented on #4284
@twisted1919 we're running unit tests on 7.4 so majority of framework functionality should work well.

[2020-01-07 10:14] samdark commented on #4284
This one is already fixed in master btw. so no need for a pull request.

[2020-01-07 10:14] #4284 closed

[2020-01-07 10:16] #4269 closed

[2020-01-07 10:16] twisted1919 commented on #4284
@samdark - thanks! please do a release so we can make use of php 7.4. best.

[2020-01-07 10:24] samdark commented on #4276
@fazliddin still want to do it?

[2020-01-07 10:25] samdark commented on #4272
@ursuleacv so how did you solve it?

[2020-01-08 13:50] #4256 closed

[2020-01-23 06:13] fazliddin commented on #4276
Yes I will make pull request on 26.01.2020

[2020-01-28 08:01] fazliddin commented on #4276
I just edited php files. Will it effect docs in website? Or should I change website too?

[2020-01-28 08:11] samdark commented on #4276
You need to make a pull request. After it is merged, docs will be re-generated at the website.

[2020-01-28 08:51] fazliddin commented on #4276
so I did pull request

[2020-01-28 09:04] #4276 closed

[2020-01-28 10:54] chtoesli opened #4288 "Error processing large cron requests."
### Error processing large cron requests.

### It is fixed by adding code in the framework \ db \ CDbConnection.php code after line 468 of the entry:
$ pdo-> exec ('SET session wait_timeout = 28800');

### Now there will be no errors in large queries!

### Additional info
| Q                | A
| ---------------- | ---
| Yii version      | 1.1.22
| PHP version      | 7.3
| Linux Ubuntu |

Correcte

[2020-01-28 12:18] samdark commented on #4288
Would you please provide extra details on how to reproduce the issue?

[2020-01-30 09:14] chtoesli commented on #4288
On the website in the database there are about 14,000 entries in the database table. Each record in this table records 156 field values. Based on this table, you will need to create sitemap.xml every day. This is done through a job using a cron request. Requests are very heavy. Database processing takes longer than usual because the database is very large.
After analyzing the situation, I had to c

[2020-01-30 09:25] chtoesli commented on #4288
To make it clear to you, this is a advertising site zinki.ru. The database is very large, you have to process very large amounts of information!

[2020-01-30 09:27] samdark commented on #4288
There's already a solution in the framework for your case: https://www.yiiframework.com/doc/api/1.1/CDbConnection#$initSQLs-detail

[2020-01-30 09:27] #4288 closed

[2020-01-30 09:27] chtoesli commented on #4288
sorry for the text, I speak English badly
Могу писать на русском)

[2020-02-14 10:45] olleharstedt commented on #1918
Won't work for us, since we need to support both MySQL and Postgres. We've updated to the latest version of Yii 1 but still have this problem. Any solution?

[2020-03-02 14:43] raux opened #4290 "Quick Survey on GitHub Repos similar to yii"
Dear yii developers,

My name is Raula Gaikovina Kula, an Assistant Professor and software engineering researcher at NAIST, Japan. I am writing on behalf of our research team that is conducting a study that traces the origins of source code within GitHub. Formally,
The aim of this project is to evaluate our proposed new approach of contributions to FLOSS projects. Because of the reusability of FLO

[2020-03-02 14:44] #4290 closed

[2020-03-02 14:45] samdark commented on #4290
Closing since that's not what issues are for.

[2020-03-03 01:14] raux commented on #4290
Hi @samdark, we apologize for this misunderstanding. I am now going to the forums. Would you have some idea as to where to post this kind of information? Many thanks, Raula

[2020-03-03 17:38] samdark commented on #4290
Forums should be OK.

[2020-03-04 04:10] raux commented on #4290
@samdark . Unfortunately, the forum message was also shut down. Could I kindly ask for 5 mins of your time? https://forms.gle/w7UeunjDUoyq47A56. We would be very grateful for this.

[2020-03-04 09:57] samdark commented on #4290
OK. Will fill it.

[2020-03-05 17:36] Argevollen opened #4291 "The scheme(protocol) is deleted when validateIDN is enabled after validation"
### What steps will reproduce the problem?
1. Add a validation rule to the model.
[code]
2. Enter data
[code]
3. Validation
[code]

### What is the expected result?
[code]

### What do you get instead?
[code]

### Additional info
Missing line concatenation.
https://github.com/yiisoft/yii/blob/master/framework/validators/CUrlValidator.php#L213

| Q                | A
| ---------------- | ---
| Yii

[2020-03-07 23:46] raux commented on #4290
@samdark Thank you for filling out our form. Raula

[2020-03-17 10:31] samdark opened #4293 "Update HTMLPurifier"

[2020-03-18 15:28] #4291 closed

[2020-03-24 21:16] ursuleacv commented on #4272
I haven't yet, I removed the package in the console environment

[2020-04-01 09:20] d4rkstar opened #4294 "Postgresql 12 issue in CPgsqlSchema.php"
### What steps will reproduce the problem?
Use postgresql 12

### What is the expected result?
Application should work without problems

### What do you get instead?
SQLSTATE[42703]: Undefined column: 7 ERROR: column c.consrc does not exist

### Additional info
Steps to reproduce or a small repository showing the problem: PostgreSQL 12 removes the pg_constraint.consrc column and this breaks CPgsql

[2020-04-02 12:42] samdark commented on #4294
Is there a simple way to fix it? If there isn't I'm afraid we can't have it since Yii 1.1 should only receive security fixes and PHP 7 compatibility fixes.

[2020-04-02 15:45] d4rkstar commented on #4294
Hello @samdark . Yes, i've developed a fix and i'll be glad to send a patch, but don't know how to do extensive tests.
Will send it later today.

[2020-04-02 21:32] d4rkstar commented on #4294
Take look at #4296

[2020-04-13 13:37] cebe commented on #1918
@olleharstedt you can check the driver of the current connection and provide different values for mysql and postgres: https://www.yiiframework.com/doc/api/1.1/CDbConnection#driverName-detail

[2020-04-27 12:18] artemkonev opened #4298 "A section on NGINX Unit in docs/guide/quickstart.apache-nginx-config.txt"
Hi,

Will the community welcome a pull request adding a subsection about NGINX Unit (https://unit.nginx.org) in [quickstart.apache-nginx-config.txt](https://github.com/yiisoft/yii/blob/master/docs/guide/quickstart.apache-nginx-config.txt)? I imagine something similar to this: https://unit.nginx.org/howto/yii/

[2020-04-27 21:47] samdark commented on #4298
Yes. Absolutely.

[2020-04-27 21:47] samdark commented on #4298
Yii 2 and Yii 3 as well.

[2020-04-28 17:50] artemkonev commented on #4298
Great, thank you! I'll proceed with the PR.

[2020-04-28 18:06] samdark commented on #4298
Btw., would be great if you'll check our Nginx configs as well.

[2020-04-30 10:19] artemkonev commented on #4298
I'll see what I can do about that. Most probably, all updates will arrive in mid-May or so.

[2020-05-11 09:52] bravist commented on #4152
Thanks @kamal7606 , it works now

[2020-05-28 13:18] matvey151 opened #4299 "Config for AspectMock doesn't work"
I just try to test my Yii App with AspectMock and Codeception.
 My bootstrap.php:
[code]
I use it:
[code]
But AspectMock doesn't replace method validate.

I add into bootstap this:

[code]

But now I see Error:  "Class CFormModel was not found by locator"
CFormModel it's parent of my TestForm.
And I do this:
[code]
And I see error "Class CComponent was not found by locator" although I added it.

I

[2020-05-28 14:16] samdark commented on #4299
Please use a forum for questions. Thanks.

https://forum.yiiframework.com/

[2020-05-28 14:16] #4299 closed

[2020-06-02 18:03] romansh commented on #4294
Faced the same issue. Used bio's commits to change yii code and waiting for 1.2.3.

[2020-06-05 11:04] lmcsu opened #4301 "CJavaScript::encode breaks emoji"
### What steps will reproduce the problem?
Encode any emoji via CJavaScript::encode

### What is the expected result?
Not a broken emoji

### What do you get instead?
A broken emoji

### Additional info
It's because of the old version of "zend-escaper".
Code from the new version solves the problem.

[code]

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.22
| PHP version

[2020-06-05 11:13] samdark commented on #4301
I consider it a forward compatibility issue. Do you have time for a pull request?

[2020-06-05 12:13] lmcsu commented on #4301
Sorry, but I've never made any pull request before and I at first I need to learn more about how Git works. All I can do is to post issues like this one 😂😐

[2020-06-05 17:31] samdark commented on #4301
No worries. Will apply it then closer to next release.

[2020-06-06 22:02] samdark commented on #4298
Solved by https://github.com/yiisoft/yii/commit/6f43af6f9e0f3d8a4e867d9ca5a31fe7c8343776

[2020-06-06 22:02] #4298 closed

[2020-07-02 01:39] varunkamra opened #4302 "Updated postgres 12 query for findColumns function returns wrong sequence name in the result"
Postgres 12 updated the findColumns function and the following query when run for a database table whose name and sequence name were updated after it was created returns old sequence name when this query gets executed.

`SELECT a.attname, LOWER(format_type(a.atttypid, a.atttypmod)) AS type,
	d.adsrc AS column_def_value, a.attnotnull, a.atthasdef,
	pg_catalog.col_description(a.attrelid, a.attnum) A

[2020-07-03 09:17] samdark commented on #4302
Have you tried with dev-master version? https://github.com/yiisoft/yii/blob/master/CHANGELOG#L7

[2020-07-03 14:07] varunkamra commented on #4302
Yes, I used the updated code from master branch that’s when it failed. If I use 1.1.22 it works.

[2020-07-03 14:31] samdark commented on #4302
Do you have time to prepare a fix?

[2020-07-03 14:41] varunkamra commented on #4302
I will try to understand both queries and come up with a solution.

On Fri, Jul 3, 2020 at 7:31 AM Alexander Makarov <notifications@github.com>
wrote:

[2020-07-03 18:21] varunkamra commented on #4302
https://github.com/yiisoft/yii/pull/4303

[2020-08-19 04:40] Nusratbek1997 opened #4309 "captcha not working on yii1.1.16"
captcha not working on yii1.1.16
### in model
    public $verifyCode;

public function rules()
    {
        return array(
            array('name, typeOfOwnership, INT,  category, OKNX, business_type,FLM, address, email, phone, subject, body', 'required'),
            array('email', 'email'),
            array('membership, status, member_date, member_num,', 'safe'),
            array('verifyCode'

[2020-08-19 08:19] samdark commented on #4309
What do you mean by "not working"?

[2020-08-19 09:33] nikolasr200 opened #4310 "Memcache handling issue"
Use of memcache componsened doesn't handle correctly expire cached items

Items should be expired at the dedicated time

Items don't get expired at the dedicated time

### Additional info

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.20
| PHP version      | 7.3
| Operating system |

[2020-08-19 09:44] nikolasr200 commented on #4310
Created pull request https://github.com/yiisoft/yii/pull/4311

[2020-09-16 10:20] DrDeath72 commented on #4294
PHP notice
Undefined index: column_def_value
PostgreSQL 10.14 (Ubuntu 10.14-0ubuntu0.18.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0, 64-bit

[2020-09-24 17:17] shidenko97 opened #4317 "Added special option 'encode' to `$htmlOptions` argument in `CHtml::errorSummary` and `CHtml::error`"
Problem with HTML tags in validator's error text

I want to rollback changes in file **framework/web/helpers/CHtml.php** from [this commit](https://github.com/yiisoft/yii/commit/acb7a3b4881b693a1a19178694e4704038df9452) . It will make HTML tags in validator's error text available again.

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.22
| PHP version      | Any
| Operatin

[2020-09-24 17:19] shidenko97 commented on #4317
It has at least 4 reasons to make it.

- https://github.com/yiisoft/yii/commit/acb7a3b4881b693a1a19178694e4704038df9452#r33834132
- https://github.com/yiisoft/yii/commit/acb7a3b4881b693a1a19178694e4704038df9452#r33767237

[2020-09-29 23:43] aprudencio opened #4319 "Phpunit 9 compatibility issue with Yii 1.1 - unable to extend class Version as it's final"
### What steps will reproduce the problem?
I updated my project to have yii 1.1.22 and added PHPUnit 9.3.11 using composer. I'm using PHP 7.4.

I had to add the compatibility.php file in protected/tests/ described here: https://github.com/yiisoft/yii/issues/4227

However, the phpunit class in vendor/phpunit/phpunit/src/Runner/Version.php is declared as final. So when executing the test (../../vend

[2020-09-30 01:24] b1rdex commented on #4319
Hi. The compatibility file should be changed: use class_alias instead of extending the original classes.

Отправлено с iPhone

[2020-10-01 11:16] samdark commented on #4317
I don't think it's a good idea:

1. It may introduce security issue.
2. It was done a long time ago so there are projects relying on the behavior.

We may introduce an option for htmlOptions to turn off HTML escaping though.

[2020-10-01 11:56] shidenko97 commented on #4317
Yes, it looks like better idea than my. I've did it by your way.

[2020-10-02 13:06] marcovtwout commented on #4302
@varunkamra Your original issue description does not seem completely accurate. If you have tested on PostgreSQL 11 you should always get outdated names, since it was implemented that way. Could you please clarify?

From https://www.postgresql.org/docs/12/release-12.html

The implementation in Yii 1.1.22 only supported PostgreSQL up to 11 and uses an obsolete implementation (`adsrc`) to determine a

[2020-10-02 13:18] varunkamra commented on #4302
Actually the PostgreSQL 12 fix works great with postgreSQL version < 12 as
well and returns right sequence name. But the condition that uses d.adsrc
for < 12 doesn’t seem to return latest sequence name.

On Fri, Oct 2, 2020 at 6:07 AM marcovtwout <notifications@github.com> wrote:

[2020-10-02 13:25] marcovtwout commented on #4302
@varunkamra That's right, `d.adsrc` will not return the latest name after changes, according to the PostgreSQL documentation. But that was already the case on Yii 1.1.22

Thank you for confirming the new implementation works on v11 as well.

[2020-10-02 14:55] #4309 closed

[2020-10-02 14:58] marcovtwout commented on #4309
@Nusratbek1997 Unclear what the issue is exactly. Also it seems you are explicitly disabling Captcha when requirements are not met in validation rules.

[2020-10-02 15:04] marcovtwout commented on #4272
Looks like the autoloaders are not combining nicely. Since `paragonie/sodium_compat` is not required by the Yii framework, I'll guess this issue can be closed.

[2020-10-02 15:04] #4272 closed

[2020-10-02 15:34] marcovtwout commented on #4301
I created a PR for this issue for the above implementation (no test added or changelog modified yet)

[2020-10-03 18:30] #4317 closed

[2020-10-05 13:49] #4294 closed

[2020-10-05 13:53] marcovtwout commented on #4302
@varunkamra Could you please test the new solution in https://github.com/yiisoft/yii/pull/4323 and confirm on which PostgreSQL versions it works as expected?

[2020-10-05 13:55] marcovtwout commented on #4294
@d4rkstar @DrDeath72 Could you please test the new solution in https://github.com/yiisoft/yii/pull/4323 and confirm on which PostgreSQL versions it works as expected?

[2020-10-06 12:06] d4rkstar commented on #4294
@marcovtwout Yes, i can test. Will let you know.

Regards

[2020-10-07 12:56] d4rkstar commented on #4294
@marcovtwout #4323 seems to work for me. No issue so far

[2020-10-07 14:41] marcovtwout commented on #4294
@d4rkstar Thanks - and I assume that is on v12?

[2020-10-07 16:24] d4rkstar commented on #4294
Yes

[2020-10-10 11:08] girishcp opened #4327 "Error :: session_name(): Cannot change session name when headers already sent :: Yii1"
I have moved my Yii project from Windows to Linux in PHP 7.4 version and it showing the below error. Please suggest me what should I do to resolve this. I have also updated the latest framework version 1.1.22.

**_500
session_name(): Cannot change session name when headers already sent_**

![image](https://user-images.githubusercontent.com/23473721/95653398-1d147c80-0b16-11eb-9032-ac18cbeb86a3.png

[2020-10-11 11:42] samdark commented on #4327
Check that there are no symbols before all your opening `<?php` and no BOM.

[2020-10-11 12:38] b1rdex commented on #4327
![image](https://user-images.githubusercontent.com/312855/95678795-41558380-0c12-11eb-9e9a-58e5df174a67.png)
Did you upgrade from php < 7.2? I'm not sure but it looks like the session is already started at the point yii tries to configure it.

[2020-10-11 12:41] b1rdex commented on #4327
Update: do you have `session.auto_start` set to `true` in the php configuration? If so then you'd have to disable it.

[2020-10-11 15:04] girishcp commented on #4327
Thanks for your response, yes I have updated from 7.2 to 7.4 php version. Is this reason of this error, what should I do to resolve this.

[2020-10-11 15:34] girishcp commented on #4327
thanks for your response, its already disabled

session.auto_start = 0

[2020-10-11 17:15] #4327 closed

[2020-10-19 13:33] lourdas commented on #4302
I tested it with PostgreSQL 12.4 on Linux and it works fine now.

[2020-10-22 15:39] marcovtwout commented on #4294
Fixed with https://github.com/yiisoft/yii/pull/4323

[2020-10-22 15:39] marcovtwout commented on #4302
Fixed with https://github.com/yiisoft/yii/pull/4323

[2020-10-22 15:39] #4302 closed

[2020-11-20 16:33] JeffPrixla1986 opened #4329 "PHP 7.4 CClientScript.php fail when is not an array"
### What steps will reproduce the problem?
Php 7.4, $package['baseUrl'] as bool(false)

### What is the expected result?
View generate coorectly, that's the way it worked on PHP5.6 before I updated to PHP7.4.

### What do you get instead?
Error: Trying to access array offset on value of type bool

### Additional info

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.22
| PH

[2020-11-20 18:59] samdark commented on #4329
That's definitely a bug. Would you like to submit a pull request with a unit test and the fix?

[2020-11-21 22:02] JeffPrixla1986 commented on #4329
Thanks for your quick answer, I made the pull request #4330

[2020-11-22 21:56] samdark opened #4331 "Repair GitHub actions"

[2020-11-22 22:51] #4331 closed

[2020-11-22 23:02] #4319 closed

[2020-11-27 09:17] sergey-dryabzhinsky commented on #4329
That's incorrect fix.
Code `$baseUrl[0] !== '/'` is for `string` value, not `array`.

Fix should check if `$baseUrl` is `string` type or convert it to `string` before `if` block.

[2020-11-27 09:34] rob006 commented on #4329
Why do you have `false` as `baseUrl`? I don't see that using `false` was documented anywhere.

[2020-11-27 10:10] sergey-dryabzhinsky commented on #4329
@rob006 Good question.

@JeffPrixla1986 Can you give as some code example which causes error?

[2020-11-27 13:39] marcovtwout commented on #4329
This does not look like a bug, but incorrect usage.

If you want to declare a package without a baseUrl, use `null` instead of `false`. For details see: https://www.yiiframework.com/doc/api/1.1/CClientScript#packages-detail

[2020-11-27 13:39] #4329 closed

[2020-11-27 14:14] marcovtwout commented on #4293
Note: our last documented version is 4.9.3, but HTMLPurifier was silently updated to 4.10.0 in https://github.com/yiisoft/yii/issues/4261

[2020-11-27 17:40] shidenko97 opened #4335 "Added support of multiple scenarios in CModel validation"
I know that Yii 1 not supported already, but I have great idea and hope you will consider it as a useful feature - to add support of multiple scenario of validation in CModel. It has backward compatibility and completed all old and new tests.

[2020-11-27 18:59] #4293 closed

[2020-11-27 19:21] samdark commented on #4335
There are multiple considerations about it:

1. Yii 1.1 is in maintenance mode and significant enhancements aren't added anymore. @marcovtwout could consider it though...
2. Use case isn't clear. Usually it's a single scenario you use a model with. Would please elaborate it a bit. Maybe we're missing something great.
3. That's the same in Yii 2, only a single sceanario at once... so noone has the

[2020-11-27 20:00] shidenko97 commented on #4335
Well, so:

1. I've understood it and did it for myself at first, but then decided to offer it for all Yii1 community.
2. Personally me have project with long client's form, that has different validation scenarios depend from value of this forms. For example validating different type of documents (with different field in model for each type) and also validate kind of user's employment in this form.

[2020-11-27 21:12] samdark commented on #4335
I see. It's great you've come up with a solution. Thank you for the contribution but I don't think we'll accept it. The case seems to be really rare. You may release it as an extension though.

[2020-11-27 21:12] #4335 closed

[2020-11-30 08:40] marcovtwout commented on #4301
Fixed with https://github.com/yiisoft/yii/pull/4325

[2020-11-30 08:40] #4301 closed

[2020-12-05 11:30] lmcsu opened #4338 "isset(CMap) works wrong for null values"
### What steps will reproduce the problem?
[code]

### What is the expected result?
false

### What do you get instead?
true

### Additional info
There must be checking for null.
[code]

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.23
| PHP version      | 7.4
| Operating system | any

[2020-12-06 15:07] b1rdex commented on #4338
I don't think this is a bug. Removing the items should be done using `unset()` call or `remove()` method.

A map can contain null values and the `isset()` call checks whether the key exists or not.

[2020-12-06 15:11] b1rdex commented on #4338
Here is an example of a SplOjectStorage map:
[code]

As you can see, setting the data to a `null` still reports that the key is there.

[2020-12-06 15:43] rob006 commented on #4338
`isset()` checks whether key exist **and it is not `null`**,  you can use `ArrayObject` or simple array as an example: https://3v4l.org/UfXff

[2020-12-07 11:44] marcovtwout commented on #4338
It's not a regression as this piece of CMap code hasn't changed in 10 years.

You are correct, this is the documented way to unset values, here: https://github.com/yiisoft/yii/blob/master/framework/collections/CMap.php#L20
And SplObjectStorage implements the isset check the same way.

You are also correct, you would expect this behavior regardless of how the value was "unset".

There is something

[2020-12-07 11:52] #4338 closed

[2020-12-07 12:06] rob006 commented on #4338
I don't think that `SplObjectStorage` should be used as an example here. It has many weird hacks and tricks and in many cases it behaves differently than regular array (which is the point of `ArrayAccess`).

[2020-12-07 12:41] marcovtwout commented on #4338
@rob006 I agree from a design perspective, it makes sense for new developments. But for Yii 1 the behavior has always been like this (original map implementation from the Prado framework), and this behavior is sufficiently documented.

[2020-12-28 09:20] twisted1919 opened #4339 "PHP 8 - "There is no active transaction" when transaction is autocommitted"
This is related to https://github.com/yiisoft/yii2/issues/18406

As of PHP 8, PDO::commit() and rollBack() will throw a There is no active transaction PDOException if the transaction had been autocommitted, as MySQL will do whenever a schema change is made. Previously they would fail silently.

### What steps will reproduce the problem?
1. Connect to a MySQL database
2. Call Yii::app()->db->beginT

[2020-12-28 09:32] twisted1919 commented on #4339
I am not sure if this is a good fix or not, but what we did was to modify a bit the `CDbTransaction` class and basically wrap PDO's  `commit` and `rollback` method calls in an additional `if` which makes sure we're still inside a transaction, like:
[code]

and

[code]

Does this seem correct to you?

[2020-12-28 16:37] #4339 closed

[2021-01-17 14:28] DilwoarH commented on #3823
@samdark - are there any examples of how to make Yii 1 compatible with Heroku?

[2021-01-18 08:12] samdark commented on #3823
@DilwoarH I don't know. Quick googling doesn't give results. I've never deployed to Heroku so can't help with it.

[2021-02-01 10:18] emenshov opened #4342 "Notice Method ReflectionParameter::isArray() is deprecated в CAction.php:97 on php 8.0.1"
### What steps will reproduce the problem?
Run any controller action with parameters

### Additional info

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.23
| PHP version      | 8.0.1
| Operating system |

[2021-02-01 10:19] emenshov commented on #4342
![image](https://user-images.githubusercontent.com/76549649/106445507-27290500-6490-11eb-9ba8-e1acd00efc7a.png)

[2021-02-01 10:51] emenshov opened #4343 "SQLSTATE[IM001]: Driver does not support this function: driver does not support quoting when using the driver pdo_odbc on php 8.0.1"
### What steps will reproduce the problem?
The pdo_odbc driver does not support the PDO :: quote method, which follows from the documentation https://www.php.net/manual/ru/pdo.quote.php
It is advised to use prepared queries instead. But, when using the IN construct in QueryBuilder, for example `-> where (['in', 'wp.this_url', $ genreUrls])`, the `quoteValue` call occurs implicitly, which ultimatel

[2021-02-01 10:51] emenshov commented on #4343
![image](https://user-images.githubusercontent.com/76549649/106449031-99034d80-6494-11eb-98de-681672b95212.png)

[2021-02-01 10:59] marcovtwout commented on #4342
@emenshov Could you please update this issue to english?

[2021-02-01 10:59] marcovtwout commented on #4343
@emenshov Could you please update this issue to english?

[2021-02-01 11:03] emenshov commented on #4343
done

[2021-02-01 11:04] emenshov commented on #4342
done

[2021-02-01 11:37] marcovtwout commented on #4342
Thank you - I will investigate both issues later this week.

[2021-02-01 12:34] b1rdex commented on #4342
The issue is here: https://github.com/yiisoft/yii/commit/84235713bcaddb10fcd0daf7100f3d64753b2aa7#diff-48c3f2514cdc31bf4e43c0455c58951206dafaa01754543bdc1108283512f689R97
It should be `if(version_compare(PHP_VERSION,'8.0','>=') >= 0) {`. Looks like other version comparisons in the mentioned commit need fixing too.

[2021-02-01 12:49] rob006 commented on #4342
`version_compare(PHP_VERSION,'8.0','>=')` should return boolean according to [docs](https://www.php.net/manual/en/function.version-compare.php), so this condition looks fine.

[2021-02-01 12:52] b1rdex commented on #4342
@rob006 you're absolutely right!

[2021-02-01 12:56] rob006 commented on #4342
I suspect that OP is using 1.1.22 instead of 1.1.23 - line number from error match file from 1.1.22: https://github.com/yiisoft/yii/blob/1.1.22/framework/web/actions/CAction.php#L97
In 1.1.23 `isArray()` is called in different line: https://github.com/yiisoft/yii/blob/1.1.23/framework/web/actions/CAction.php#L100

[2021-02-01 13:33] marcovtwout commented on #4342
@rob006 I think you are correct.
@emenshov Could you confirm you are working on 1.1.23?

[2021-02-02 05:33] emenshov commented on #4342
You're right. I made a mistake. My apologize. Everything is fine in version 1.1.23. I will close the issue

[2021-02-02 05:33] #4342 closed

[2021-02-04 09:36] marcovtwout commented on #4343
I cannot reproduce this issue. Could you post the full input, error message and stack trace?

In theory the implementation looks fine: According to the PHP documentation `PDO::quote()` will return `false` when the method is not supported by the driver, and `CDbConnection::quoteValue()` and `quoteValueWithType()` handle this case with a fallback quote mechanism (https://github.com/yiisoft/yii/blob/

[2021-02-08 06:46] emenshov commented on #4343
![image](https://user-images.githubusercontent.com/76549649/107184877-6efcde80-69f2-11eb-8537-a7f7cae27fe7.png)

@marcovtwout

[2021-02-08 08:20] marcovtwout commented on #4343
@emenshov Thank you for the additional info.

The root cause here seems to be the PDO_ODBC driver. Since quoting isn't supporting for this driver calling PDO::quote() should return false, but that is not happening and a PDOException is thrown instead. Check if your driver is up-to-date and otherwise file a bug with PHP: https://bugs.php.net/

[2021-02-16 10:44] emenshov commented on #4343
@marcovtwout I started a bug. But they explained to me that in php 8 this is not a bug, but standard behavior
https://bugs.php.net/bug.php?id=80754&edit=2
Can you reopen issue?

[2021-02-16 12:32] marcovtwout commented on #4343
Reopened and added additional question to the PHP bug.

[2021-02-16 13:07] marcovtwout commented on #4343
@emenshov Could you perhaps check if you encounter the same bug in Yii 2? Its implementation also seems to rely on PDO::false() if the driver does not support it: https://github.com/yiisoft/yii2/blob/920fda176a4b09e3f1c0b501eb7a9a00e992d35f/framework/db/Schema.php#L463

[2021-02-16 17:03] emenshov commented on #4343
Yes, same issue
![image](https://user-images.githubusercontent.com/76549649/108096346-ee914a00-7091-11eb-9c28-440194bdabeb.png)

[2021-02-22 10:00] marcovtwout commented on #4343
It seems the error cannot be suppressed because of bug https://bugs.php.net/bug.php?id=71941

I'm not sure if this should be fixed on the PHP side or have a workaround applied on the framework side. I suggest to report this issue in the Yii 2 issue tracker as well. Whatever solution is chosen there, I will consider to apply here.

[2021-02-22 12:32] samdark commented on #4343
What kind of workaround would fix it?

[2021-02-22 12:36] marcovtwout commented on #4343
@samdark a PHP ODBC specific check, that skips calling pdo::quote() and calls the fallback implementation directly. But personally I would consider this something that should be fixed on the PHP or PHP ODBC Driver side.

[2021-02-22 12:50] samdark commented on #4343
I'd apply the fix. It is unlikely to be fixed fast in either PHP or ODBC driver.

[2021-02-24 07:32] emenshov commented on #4343
@samdark @marcovtwout What do you think about this solution?
		Yii1:
[code]

		Yii2:
[code]

[2021-02-24 07:43] samdark commented on #4343
@emenshov are you 100% sure that `addcslashes()` esapes the input as intended?

[2021-02-24 07:47] emenshov commented on #4343
Yes, it works correct on php 7.4 with odbc driver
![image](https://user-images.githubusercontent.com/76549649/108965304-be4b3c00-768d-11eb-9e4c-c0a6304b075f.png)

[2021-02-24 07:55] samdark commented on #4343
OK. That seems to be good enough.

[2021-02-24 07:56] emenshov commented on #4343
@samdark Should I prepare pull request?

[2021-02-24 08:05] samdark commented on #4343
Yes. Please.

[2021-02-24 08:44] marcovtwout commented on #4343
@emenshov I don't think the PHP8 condition is actually neccessary. You can check the driver name with https://www.yiiframework.com/doc/api/1.1/CDbConnection#getDriverName-detail instead of doing string matching yourself. Finally you can avoid duplicate fallback code by structuring the whole thing something like this:

[code]

[2021-03-04 12:18] mohamedmalki opened #4349 "Remove attribute tag from <script> tag"
### What steps will reproduce the problem?

Hi, There is any way to remove or not use Attribute 'type="text/javascript"' when we use create a new js file usinf one of this function ? :
Yii::app()->clientScript->registerScript('myjavascript','(function() { // code here })();',CClientScript::POS_END);
or
Yii::app()->clientScript->registerScriptFile( $file,CClientScript::POS_END );

### What is the e

[2021-03-04 12:51] samdark commented on #4349
Yes, should be adjusted.

[2021-03-08 13:50] marcovtwout commented on #4349
Technically it's not wrong to keep this obsolete attribute, but it's a small change to keep the w3c validator happy. I don't see any objections against removing it, unless there would be a known component in any way dependent on it. PR coming up.

[2021-03-08 14:55] marcovtwout commented on #4349
It seems we can't simply remove it always for backwards compatibility with XHTML. Lets continue discussion in the PR.

[2021-03-11 17:18] marcovtwout commented on #4349
@mohamedmalki Take a look at the solution in https://github.com/yiisoft/yii/pull/4351

[2021-03-11 17:29] marcovtwout commented on #4343
@emenshov Please check if https://github.com/yiisoft/yii/pull/4352 fixes your problem.

[2021-03-12 07:51] xpohoc69 commented on #4343
@marcovtwout It works correct

[2021-03-15 09:11] marcovtwout commented on #4343
Fixed with https://github.com/yiisoft/yii/pull/4352

[2021-03-15 09:11] #4343 closed

[2021-03-15 09:29] marcovtwout commented on #4349
Fixed with https://github.com/yiisoft/yii/pull/4351/

You have to enable the new option to use this functionality.

[2021-03-15 09:29] #4349 closed

[2021-03-27 13:42] wardjk opened #4353 "CHtml documentation page is broken"
https://www.yiiframework.com/doc/api/1.1/CHtml
is broken.
CHtml:7119 Uncaught ReferenceError: jQuery is not defined
    at CHtml:7119

[2021-03-28 19:49] samdark commented on #4353
Would you please provide some code to reproduce the issue? Thanks.

[2021-03-28 19:55] wardjk commented on #4353
It's not my code. Did you look at https://www.yiiframework.com/doc/api/1.1/CHtml?
![image](https://user-images.githubusercontent.com/5148283/112766032-8d845c80-8fd5-11eb-831d-f44cac004bdb.png)

[2021-03-28 22:11] samdark commented on #4353
Aha! Got it.

[2021-03-30 20:02] wardjk commented on #4353
Until it's fixed, similar documentation can be found at
https://docs.w3cub.com/yii~1.1/chtml
http://apimirror.com/yii~1.1/chtml
http://www.mbrunot.com/files/divers/yii-docs-1.1.10.r3566/api/CHtml.html

Version 1.0 documentation still works:
https://www.yiiframework.com/doc/api/1.0/CHtml

[2021-04-05 14:04] wardjk commented on #4353
It's fixed.

[2021-04-06 07:20] #4353 closed

[2021-04-09 18:24] georaldc opened #4355 "Why does the CApplication error handler logging mechanism skip the first 3 entries of the debug backtrace?"
https://github.com/yiisoft/yii/blob/d7cf08db201ded76622b4d10c45a25194ebe9d32/framework/base/CApplication.php#L805

I've been noticing my logged PHP errors seemed to be missing a function call step in the beginning and came across the above. This same behavior happens inside the CErrorHandler handleError method but it seems to be appropriate there since the first 3 stacks are indeed not part of whe

[2021-04-16 09:03] marcovtwout commented on #4355
Skipping entries was added to CErrorHandler since the beginning of time: https://github.com/yiisoft/yii/blame/8d4d1d39cedaf3dd4df5ba2db7f4437f4b9e8f97/framework/core/CErrorHandler.php
And later added to CApplication in 2009 in: https://github.com/yiisoft/yii/commit/67d50c77f881256b0e05b121dd3052799008db59

CErrorHandler is used to display errors to the user, and skipping the first 3 stacks indeed

[2021-04-16 10:27] marcovtwout commented on #4355
I found one more case where too many entries are skipped in `displayError()`:

Function CApplication->displayError() always skips 3 entries. Function CConsoleApplication::displayError() always skips 4 entries. Added in 2010 in https://github.com/yiisoft/yii/commit/bbfd0eeff31ffb81bd0f67c62fd805b3e7031490

There are many different scenarios and callers:
- Before application->errorHandler is registe

[2021-04-16 18:46] jjdunn opened #4357 "PHP 8.x compatibility error when using a closure for rowCssClassExpression"
### What steps will reproduce the problem?
1. create a widget of type CGridView.
2. for the rowCssClassExpression, declare a PHP closure with the function signature ($row, $data, $grid) as defined in the documentation

### What is the expected result?
closure is invoked when the grid runs.  Code works fine in PHP 7.3.x

### What do you get instead?
"Error: Cannot use positional argument after name

[2021-04-16 18:49] jjdunn commented on #4357
NB: there are 31 instances of `call_user_func_array()` in 15 files in yii 1.1.x framework

the probably all need to be audited for the similar problem, in case the called function is a closure, and the caller adds a positional (rather than named) argument to the parameter-list

[2021-04-17 11:48] jjdunn commented on #4357
oh darn - I just realized I was *not* running 1.1.23 - I was still on 1.1.20 + a few patches from 1.1.21 - 1.1.23
this problem was actually fixed here:
https://github.com/yiisoft/yii/commit/2adb111a3b01b60223729bd349c3dcf6161312c7
sorry - closing this ticket as duplicate

[2021-04-17 11:48] #4357 closed

[2021-05-06 15:39] marcovtwout commented on #4355
Fixed with https://github.com/yiisoft/yii/pull/4356

[2021-05-06 15:39] #4355 closed

[2021-05-28 13:12] marcovtwout opened #4366 "Compatibility with PHPUnit 8+"
Since PHPUnit 8 `PHPUnit\Framework\TestCase::setUp()` has a `void` return type added: https://phpunit.de/announcements/phpunit-8.html

This method is extended by `CDbTestCase` and `CWebTestCase`:
https://github.com/yiisoft/yii/blob/master/framework/test/CDbTestCase.php#L114
https://github.com/yiisoft/yii/blob/master/framework/test/CDbTestCase.php

Running tests on PHP7.0+ PHPUnit 8+ throws a fatal

[2021-05-28 13:13] marcovtwout commented on #4319
@applee Did you not run into https://github.com/yiisoft/yii/issues/4366 when upgrading PHPUnit?

[2021-05-28 19:50] samdark commented on #4366
We are running tests with older PHPUnit, patched version: https://github.com/yiisoft/yii/blob/master/composer.json#L101 PHP 8 is already checked and pass: https://github.com/yiisoft/yii/runs/2676270735

[2021-05-31 10:47] marcovtwout commented on #4366
Keeping PHPUnit 4 is acceptable for running framework unit tests, but for user projects I think it's better to support newer PHPUnit versions if possible. For example, anyone using Codeception with PHP 8 cannot stay on PHPUnit 4 and must upgrade to a much more recent version.

Backward compatibility is not as bad as I originally thought: adding `void` is backward compatible with older PHPUnit Vers

[2021-05-31 12:27] samdark commented on #4366
True but users aren't usually running framework tests, they run their own tests.

[2021-05-31 12:51] samdark commented on #4366
Well, it is likely that it will affect someone's tests.

It could be done with autoload map that is PHP-version specific instead.

[2021-05-31 12:59] rob006 commented on #4366
W could use different name (namespaced maybe?) for new base classes for tests. Reusing the same FQCL for different implementations will confuse SCA tools and will create problems if someone is not using Yii autoloader.

[2021-05-31 14:27] marcovtwout commented on #4366
On a related note, running tests on PHPUnit 6+ also triggers an error where legacy autoloading code is performed when "PHPUnit_Runner_Version" doesn't exist.
https://github.com/yiisoft/yii/blob/master/framework/test/CTestCase.php#L11

That if-statement should probably read:
```if(!class_exists('PHPUnit_Runner_Version') && !class_exists('PHPUnit\Runner\Version')) {```

[2021-06-01 15:33] marcovtwout commented on #4366
If anyone is looking for a quick workaround, here's what I'm using in a patch file for the time being:

[code]

[2021-06-02 11:49] marcovtwout commented on #4366
Some thoughts about the possible alternative solutions:

- We could define a second set of classes:
  - They could use the same name and need overrides in $classMap (https://github.com/yiisoft/yii/blob/master/framework/YiiBase.php#L68). But having duplicate classes will probably hinder IDE autocompletion and other problems @rob006 describes
  - They could be in a separate namespace. That would req

[2021-06-09 11:58] sparkcodeuk opened #4367 "Downloadable release asset for 1.1.24 (tar.gz) have executable bits set on all files"
### What steps will reproduce the problem?

* Download the tar.gz release asset for v1.1.4: https://github.com/yiisoft/yii/releases/download/1.1.24/yii-1.1.24.a5ab20.tar.gz
* Extract the archive on a unix-based system
* Observe that the files extracted will all be set as executable

### What is the expected result?

As per previous releases the overwhelming majority of files that don't need to be

[2021-06-09 12:33] marcovtwout commented on #4367
You are correct - the build is done in a Vagrant/Virtualbox Ubuntu environment run on Windows in a mounted folder.

I'll build some new files and will check if I can replace them.

[2021-06-09 12:51] sparkcodeuk commented on #4367
If it helps at all this shows what files were set executable in the 1.1.23 tar.gz release so you can compare against your updated build when you run it:

`for i in \`find . -type f\`; do [ -x $i ] && echo $i; done`

[code]

My issue is because I've got some legacy non-composer codebase I'm supporting and don't want everything set executable & the extra git file mode changes logged as well.

[2021-06-09 13:09] marcovtwout commented on #4367
@sparkcodeuk That helps, as I think those views/ca and schema/cubrid files shouldn't be executable as well. Only the 3 instances of 'yiic'

[2021-06-09 13:47] sparkcodeuk commented on #4367
@marcovtwout separate (but related) can you also confirm what I'm seeing about line endings have been changed on all these files?

They look now to be Windows style CRLF, LF line endings rather than standard unix-style line endings.

[2021-06-09 13:54] marcovtwout commented on #4367
@sparkcodeuk That is correct. I'll create some new build files and update the release.

[2021-06-09 13:57] marcovtwout commented on #4367
@sparkcodeuk Please check if the new build is alright: https://github.com/yiisoft/yii/releases/download/1.1.24/yii-1.1.24.a5ab20.tar.gz

Executable files should match the list you posted earlier.

[2021-06-09 14:50] #4367 closed

[2021-06-23 08:42] cebe commented on #4366
@marcovtwout [your patch](https://github.com/yiisoft/yii/issues/4366#issuecomment-852222704) could be applied by a composer plugin running on composer install which checks which version of phpunit is installed...

[2021-06-25 09:59] bintangjtobing opened #4368 "CCaptcha Widget not shown on site/login using Yii 1.1.6"
is anyone ever use Yii 1.1.6 especially using captcha on the login form. I read a few documentation that has a discussion about captcha, especially I follow this instruction.
I'm using PHP 7 on my mac,

I don't know why my captcha not shown on my login form.

this is my models
[code]

and this is my controllers

[code]

and this is my site/login.php

[code]

Can I get support on this issue? Please

[2021-06-25 10:01] marcovtwout commented on #4368
This does not look like a bug and you are not using the latest yii version. Please use the forum (https://forum.yiiframework.com/c/yii-1-1-x/12) or stackoverflow for support.

[2021-06-25 10:01] #4368 closed

[2021-06-25 10:04] bintangjtobing commented on #4368
I already use the stackoverflow for support
<https://stackoverflow.com/questions/68081621/ccaptcha-widget-not-shown-on-site-login-using-yii-1-1-6> its about two days ago.

But no one can help me.
please sir?

[2021-06-30 08:17] AyceeChill opened #4369 "Gii tool in Mac is showing "Error 500 Only the first byte will be assigned to the string offset" when we add more than one table in database."
### What steps will reproduce the problem?
when we add more than one table in database.

### What is the expected result?
Gii will make new model files and controller for new table

### What do you get instead?
Gii tool in Mac is showing "Error 500 Only the first byte will be assigned to the string offset".

### Additional info

| Q                | A
| ---------------- | ---
| Yii version      |

[2021-06-30 08:23] marcovtwout commented on #4369
@AyceeChill Could you post the full stack trace and all the input so we can reproduce the issue?
You might need to enable debug mode to get the stack trace on screen: https://www.yiiframework.com/doc/guide/1.1/en/basics.entry#debug-mode

[2021-06-30 08:32] AyceeChill commented on #4369
Only the first byte will be assigned to the string offset
(/opt/lampp/htdocs/Yii1.1/framework/gii/generators/model/ModelCode.php:408)
Stack trace:
#0
/opt/lampp/htdocs/Yii1.1/framework/gii/generators/model/ModelCode.php(345):
ModelCode->generateRelationName()
#1
/opt/lampp/htdocs/Yii1.1/framework/gii/generators/model/ModelCode.php(95):
ModelCode->generateRelations()
#2 /opt/lampp/htdocs/Yii1.1/fra

[2021-06-30 08:49] marcovtwout commented on #4369
Confirmed, PR coming up.

[2021-07-01 08:23] AyceeChill commented on #4369
is the issue solved?

On Wed, Jun 30, 2021 at 2:19 PM marcovtwout ***@***.***>
wrote:

[2021-07-01 09:59] marcovtwout commented on #4369
You can use the code in https://github.com/yiisoft/yii/pull/4370/files until it is reviewed and merged.

[2021-07-05 09:14] marcovtwout commented on #4369
Solved by https://github.com/yiisoft/yii/pull/4370

[2021-07-05 09:14] #4369 closed

[2021-07-14 08:14] wesslim commented on #1267
is there any solution?

[2021-07-19 19:19] otheus opened #4372 "Logging via Syslog is somewhat FUBARd"
The brilliant logging framework here unfortunately does not play well with unix syslog logging facility. The problem here is that the CSysLogRoute uses the inherited log-format function which adds date, time, log-level, and a newline. All of this meta-information is implicitly handled by the syslog() call. Thus, operators will see log lines such as:

[code]

[2021-07-22 07:46] marcovtwout commented on #4372
Thank you for your contribution. I agree the current CSysLogRoute contains redundant information, but we cannot make this change because we have to keep the releases backward compatible.

You can change this for your own projects by extending CSysLogRoute to your own class.
[code]
(take a look at Yii 2's SyslogTarget for more inspiration: https://github.com/yiisoft/yii2/blob/master/framework/log/S

[2021-07-22 07:46] #4372 closed

[2021-08-24 11:04] varunkamra commented on #4302
Will there be postgres 13 support for Yii 1.1?

[2021-08-24 11:12] samdark commented on #4302
@varunkamra if someone will contribute it, @marcovtwout will decide. Likely yes in this case.

[2021-08-24 11:22] marcovtwout commented on #4302
@varunkamra Is there anything you know that needs changing in newer versions? You could check the migration guide here https://www.postgresql.org/docs/13/release-13.html#id-1.11.6.9.4

[2021-08-24 11:29] varunkamra commented on #4302
Actually I am not sure if anything needs to change. I will install PostgreSQL 13 and test it with the Yii 1.1.

[2021-08-24 11:30] lourdas commented on #4302
I was thinking of testing version 13 with all Yii 1.1 apps in our organization. If anything surfaces from the tests, I will report it here (or maybe in a new issue).

[2021-08-24 11:35] varunkamra commented on #4302
great thank you! I will test it too.

[2021-09-15 15:12] LeoZandvliet commented on #4226
Excuse me for 'reopening' this issue, but I dug into this error because I too experience problems with the `diff` but felt it was not a php 7.x issue.
I've created a phpunit testclass and tested explicitly with php7.0 and phpunit 6.5 to make it reproducable.
Unfortunately, I don't understand what is really done in the called function to help solve it.

A simple 'switching of lines' between 2 files

[2021-09-15 15:44] LeoZandvliet commented on #4226
Okay, I've found a solution for this by sniffing in the newest version of the file `framework/gii/components/Pear/Text/Diff/Engine/native.php` within the [horde source code](https://github.com/horde/Text_Diff/blob/master/lib/Horde/Text/Diff/Engine/Native.php) on github,  still not understanding what that code really does :)

Please use the file in the attachment and swap it with `framework/gii/com

[2021-09-20 09:24] marcovtwout commented on #4226
Issue confirmed, break seems to be introduced in https://github.com/yiisoft/yii/commit/3881dddc6eb6ca8ea43a76797bf65f24088a8abe

[2021-09-24 04:48] joshbmarshall opened #4376 "Decimal field validation is shorter than the database can handle"
### What steps will reproduce the problem?
Create a decimal(6,2) field in the database. Try entering 1234.56 into a text field.

### What is the expected result?
Validation is ok.

### What do you get instead?
Validation will say it is too long.

### Additional info

Fixed in PR #4375

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.24
| PHP version      | 7.4
| Operating

[2021-09-27 07:40] marcovtwout commented on #4376
@joshbmarshall Could you explain or provide a code sample what you mean with "validation"?

[2021-09-27 07:52] joshbmarshall commented on #4376
My apologies. The number field that is created uses the validator's max field for the maxlength, so I can't actually type a number long enough to show the validator error in the CForm.
e.g. in CHtml::activeInputField you can see that the maxlength is set to $validator->max

The max value is taken from the 6 of decimal(6,2) and so doesn't take the '.' into account and allow the field length to be 7

[2021-09-28 07:43] joshbmarshall commented on #4376
Yes this is correct the code generated with Gii has max length set one char too short. The proposed fix is in #4375

[2021-09-28 07:47] marcovtwout commented on #4376
I thought so, but in that case CDbColumnSchema is not the correct place to fix this. You should locate the code in Gii that you think is wrong and apply the change there.

[2021-09-28 09:27] rob006 commented on #4376
@marcovtwout I think that purpose of `size` property is to keep length of the column, I don't think it is used by anything except Gii.

[2021-10-01 13:27] marcovtwout commented on #4226
After examining the differences between both libraries I think it's best to simply patch our existing Text_Diff version. Will continue discussion for the fix in the PR.

[2021-10-01 13:52] marcovtwout commented on #4376
I looked up the piece of code that I was talking about: gii's ModelCode function generateRules(): https://github.com/yiisoft/yii/blob/master/framework/gii/generators/model/ModelCode.php#L220
This converts the table schema metadata into Yii's validation rules and this is where you expect the length to be set to 7.

The `CDbColumnSchema->$size` of 6 is technically correct: with a `DECIMAL(6,2)` that

[2021-10-20 04:43] cstdenis opened #4379 "Postgresql 14"
I know it's maintenance mode and I will eventually upgrade to Yii2, but please add support for postgresql 14. Some change to system columns has broken yii and it should be a simple fix for whoever wrote the code.

````CDbCommand failed to execute the SQL statement: SQLSTATE[42703]: Undefined column: 7 ERROR: column d.adsrc does not exist LINE 1: ...ER(format_type(a.atttypid, a.atttypmod)) AS type,

[2021-10-21 10:24] #4226 closed

[2021-10-21 10:28] marcovtwout commented on #4376
I propose to close this as a wontfix - this issue is a trivial enhancement and not easy to improve.

[2021-10-21 10:28] #4376 closed

[2021-11-17 17:26] lourdas commented on #4302
I know this issue is closed, but I've tested 5 Yii 1.1 applications in our organization with PostgreSQL 13 as a database backend and they all work fine. Thanks!

[2021-11-24 14:00] marcovtwout opened #4382 "PHP 8.0 - CFileLogRoute throws TypeError when file cannot be opened"
### What steps will reproduce the problem?
- Configure a default CFileLogRoute
- Remove write rights from runtime/application.log for the PHP-process
- Call index.php

### What is the expected result?
Application.log cannot be written, but error is caught silently as is common in the current implementation of CFileLogRoute on PHP <= 7.4.

### What do you get instead?
On PHP 8.0 a fatal error is th

[2021-11-26 07:38] #4382 closed

[2021-12-01 06:57] parsasaei opened #4384 "CDbHttpSession not working correctly"
Hi,
I used database session storage approach for using mys sessions,
And I used this article too: [slow-db-session-table](https://forum.yiiframework.com/t/slow-db-session-table-reason-found/22007/4)
So I created YiiSession table in my db with this script:

    CREATE TABLE YiiSession (

    id char(32) NOT NULL,

    expire int(11) unsigned DEFAULT NULL,

    data varchar(4096) DEFAULT NULL,

[2021-12-01 08:09] c-schmitz opened #4385 "PHP 8.1 Support"
### What steps will reproduce the problem?
Execute any component that uses CList.

### What is the expected result?
No errors

### What do you get instead?
These errors:

`<b>Fatal error</b>:  During inheritance of IteratorAggregate: Uncaught Error: Class "CList" not found in \htdocs\app\framework\base\CComponent.php:474
Stack trace:
#0 \htdocs\app\framework\base\CComponent.php(516): CComponent-&g

[2021-12-01 08:55] c-schmitz commented on #4384
Your session table structure is wrong/outdated. Check out CDbHttpSession->createSessionTable

[2021-12-01 09:06] parsasaei commented on #4384
Now, I drop my session table and regenerate it with this structure:

     CREATE TABLE YiiSession
     (
      id CHAR(32) PRIMARY KEY,
      expire INTEGER,
      data BLOB,
      KEY expire_idx (expire) USING BTREE
     );

But, still my problem is exists.

[2021-12-01 11:23] marcovtwout commented on #4384
@parsasaei I have to close this ticket as the issue tracker is meant for clearly reproducable bugs and not for support questions. Please visit https://www.yiiframework.com/community for support options.

[2021-12-01 11:23] #4384 closed

[2021-12-01 11:46] marcovtwout commented on #4385
Extracted the source deprecation errors from your log:
[code]

[2021-12-01 12:37] marcovtwout commented on #4385
Additional deprecations apply that need further investigation:
- https://www.php.net/manual/en/migration81.deprecated.php#migration81.deprecated.core.null-not-nullable-internal
- https://www.php.net/manual/en/migration81.deprecated.php#migration81.deprecated.core.implicit-float-conversion

[2021-12-03 17:30] kenguest commented on #4385
would running appropriate incantations of rectorphp over the framework code suffice?

[2021-12-06 08:32] marcovtwout commented on #4385
@kenguest Not probably - as we strive to keep all changes backwards compatible. It could help with listing issues though.

[2021-12-08 08:46] kenguest commented on #4385
what's the minimum version of php that compatibility has to be kept with? I seriously doubt it's PHP 5.1 as per the composer file

[2021-12-08 08:51] c-schmitz commented on #4385
I would recommend to use as a benchmark the oldest still-supported Ubuntu LTS - which is using a maintained version of PHP 7.2.x

[2021-12-08 09:22] samdark commented on #4385
@kenguest it is what's stated in composer file but we actively test on 5.3+: https://github.com/yiisoft/yii/blob/master/.github/workflows/build.yml#L23

[2021-12-08 09:23] marcovtwout commented on #4385
On paper Yii 1 should work on PHP 5.1, and tests are running from PHP 5.3 and up. Note that there are distributions such as Debian that will backport fixes to outdated PHP versions, for example Debian 9 LTS still supports PHP 7.0.

Bumping the minimum PHP version should be a separate discussion from this issue, as this is meant to list the problems that we need to fix. However in short my view on

[2021-12-10 16:31] c-schmitz commented on #4385
Hi, is there any ETA on a fix? (just asking, no pressure)

[2021-12-10 22:01] samdark commented on #4385
@c-schmitz no, not yet.

[2021-12-12 02:36] fufudao opened #4387 "gii with error in php8: Only the first byte will be assigned to the string"
### What steps will reproduce the problem?

use gii generate model class in php8

### What is the expected result?

### What do you get instead?

yiisoft\yii\framework\gii\generators\model\ModelCode.php   line 408
origin:
$relationName[0]=strtolower($relationName);
fixed to
$relationName = substr_replace($relationName, strtolower($relationName), 0, 1);

### Additional info

| Q                | A

[2021-12-12 12:46] rob006 commented on #4387
It was already fixed in https://github.com/yiisoft/yii/pull/4370.

@marcovtwout It may be worth to tag new release.

[2021-12-12 13:34] samdark commented on #4387
Will be done soon.

[2021-12-12 13:34] #4387 closed

[2021-12-13 14:43] marcovtwout commented on #4385
@c-schmitz Not only Yii core code has to be updated, probably some third party stuff as well. Since PHP 8.1 is only recently stable it could take a while until all the issues are known. I'll probably wait until most of the issues are reported here. Also we'll keep an eye on when https://github.com/yiisoft/yii2/pull/19041 is finished before applying fixes here, so we can choose a similar strategy.

[2021-12-26 22:21] Katu1979 opened #4389 "Unable to retrieve last inserted ID from Oracle"
### What steps will reproduce the problem?
Using Oracle connection with PDO_OCI, call save() method on ActiveRecord. Underlying table has an integer primary key autogenerated by a trigger from sequence. Insert command text is correct, it has `RETURNING` clause.
Adding `|PDO::PARAM_INPUT_OUTPUT` to line 112 in `db/schema/oci/COciCommandBuilder.php` does not help.

### What is the expected result?
R

[2022-01-03 13:44] marcovtwout commented on #4389
@Katu1979 I don't have the environment to investigate and reproduce this issue. Yii's implementation is mostly a wrapper for PHP OCI and PDO, so there's a good chance you'll find the issue on a lower level. A few questions to help you pinpoint the problem:

- Can you post a full minimal sample code to reproduce this issue?
- You state it works correctly on PHP 7.2 and not on PHP 7.4. Does it work

[2022-01-03 17:21] Katu1979 commented on #4389
@marcovtwout I just tried with PHP 7.3.33, it works as expected. So I would consider this a compatibility issue in yii framework with PHP 7.4.
As for providing minimal sample code, I can try asking our PHP developers (I am not a PHP developer, but rather an Oracle DBA that happens to support this legacy PHP app written with yii-1.1)
I also reviewed PHP 7.4 release notes, the only change related to

[2022-01-25 10:34] twisted1919 commented on #4385
Problem with this approach is that we can't test PHP 8.1 because of the above mentioned problems which simply block our applications from running on that PHP version. Maybe you should start merging fixes in master so we can at least test them and advance with finding new issues in our day to day usage?  It's an idea.

As for the minimum PHP version, it's a tricky one. I don't think people are usin

[2022-01-25 13:14] andres101 opened #4392 "Redis cache client doesn't support SSL"
### What steps will reproduce the problem?
Enable SSL on Redis.
### What is the expected result?
Redis cache should work.
### What do you get instead?
An error.

### Additional info

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.25
| PHP version      | 7.3
| Operating system | Debian 10

[2022-01-27 08:37] marcovtwout commented on #4392
Fixed with https://github.com/yiisoft/yii/pull/4393

[2022-01-27 08:37] #4392 closed

[2022-02-02 17:26] juslintek opened #4394 "Yii autoloader tries to handle psr-4 autoloading"
### What steps will reproduce the problem?
Use yii project with composer install latest compatible with php 7.3 guzzle command and make it throw an error, by calling non-existing url and try catch GuzzleException interface.

### What is the expected result?
Throwable is found not via autoloader, but via global class available on PHP, instead of trying to fetch it from filesystem.

### What do you

[2022-02-02 18:00] juslintek commented on #4394
Close this, seems like I had it running at bad php version fpm. :-)

[2022-02-02 18:00] #4394 closed

[2022-03-10 12:42] c-schmitz commented on #4385
PHP 8.1 has been out for quite some while now. Is there currently any work done regarding this issue?

[2022-03-10 13:17] marcovtwout commented on #4385
@twisted1919 Absolutely a valid point.

PHP 8.1 support for Yii 2 is completed (https://github.com/yiisoft/yii2/pull/19041) and released a few weeks ago, with few reports since then as far as I can tell.

In week 13/14 (beginning of april) I have time scheduled to work on https://github.com/yiisoft/yii/pull/4386 and apply most of the required changes. Then it can be used for further testing by the

[2022-03-14 23:00] Arhell opened #4396 "update index.txt links"
http=>https

[2022-03-17 09:01] Arhell opened #4398 "update de lang links"
http=>https

[2022-03-20 06:48] Arhell opened #4400 "update es lang links"
http=>https

[2022-03-21 09:26] #4396 closed

[2022-03-21 09:27] #4398 closed

[2022-03-22 07:16] #4400 closed

[2022-03-22 22:31] Arhell opened #4403 "update fr lang links"
http=>https

[2022-03-26 08:41] #4403 closed

[2022-03-27 09:12] Arhell opened #4405 "update he lang links"
http=>https

[2022-03-29 05:51] #4405 closed

[2022-03-29 19:25] juslintek commented on #4366
Hi, I'm using PHPUnit 9.5+ and have no problems, what I did is have my own base TestCase classes :-) Where extension or override is done massively across all test cases. So this inheritance solved the problem, one change for unit tests and sorted everywhere. :-)

[2022-03-31 16:39] marcovtwout commented on #4385
@twisted1919 @c-schmitz @samdark I finished the groundwork on https://github.com/yiisoft/yii/pull/4386 which fixes most of the known issues so far. I think it's good enough for be used by the community so they can test their applications to find additional issues.

Please report any new issues found here.

[2022-03-31 17:04] twisted1919 commented on #4385
@marcovtwout - Awesome!
Should we wait for you to merge in master and take it from there or should we take it from the php81-support branch?

[2022-04-01 07:46] marcovtwout commented on #4385
@twisted1919 I'm expecting more issues to pop up during testing, since only so much is caught by the test suite. For now, please take it from https://github.com/yiisoft/yii/tree/php81-support

[2022-04-01 12:32] samdark commented on #4385
I'd merge it to master to get more feedback.

[2022-04-01 14:29] marcovtwout commented on #4385
I'll think about that. I'd rather merge after at least a few people have tested my work in different scenario's, also at least one library is not compatible yet. If after a few weeks there is only limited feedback I'll merge to master what we have.

[2022-04-03 06:50] Arhell opened #4407 "update hu lang links"
http=>https

[2022-04-05 06:22] #4407 closed

[2022-04-06 07:49] Arhell opened #4409 "update id lang links"
http=>https

[2022-04-11 11:04] valkars commented on #4385
Hello, I've tested branch php81-support in my project on php 8.1 - all works fine, all warnings and deprecations are gone. Will wait for the release or merge to master

[2022-04-13 06:34] #4409 closed

[2022-04-14 07:07] Arhell opened #4411 "update it lang links"
http=>https

[2022-04-14 12:21] c-schmitz commented on #4385
Also tested here. Looks all fine. Would be great if it can be merged.

[2022-04-16 11:31] #4411 closed

[2022-04-17 07:58] Arhell opened #4413 "update ja lang links"
http=>https

[2022-04-19 06:21] #4413 closed

[2022-04-21 09:19] Arhell opened #4415 "update nl lang links"
http=>https

[2022-04-23 07:34] #4415 closed

[2022-04-23 21:47] Arhell opened #4417 "update no lang links"
http=>https

[2022-04-26 08:11] #4417 closed

[2022-04-27 09:51] Arhell opened #4419 "update pl lang links"
http=>https

[2022-04-29 14:59] bizley commented on #4417
Not for me, there is not, but since I'm not doing that and I'm just grateful that there is someone (like @Arhell ) doing it, I don't mind.

[2022-04-29 21:17] #4419 closed

[2022-05-03 07:45] Arhell opened #4421 "update pt lang links"
http=>https

[2022-05-03 07:51] marcovtwout commented on #4421
@Arhell Is there a specific reason for creating and reviewing all these separate issues? https://github.com/yiisoft/yii/issues?q=is%3Aissue+is%3Aclosed+update+links+author%3AArhell

It really looks like a simple search+replace can fix all languages at once?

[2022-05-03 07:57] Arhell commented on #4421
Hello, I try to make small changes every day.
And to search for everything as a whole will not work, not all links support https, you need to check it manually.

[2022-05-05 06:42] #4421 closed

[2022-05-05 09:27] ODware opened #4423 "PHP 7.4 CDbCriteria.php warning: count(): Parameter must be an array or an object that implements Countable"
### What steps will reproduce the problem?
$warehouseIds = null;
$criteria->addInCondition('t.warehouse_id', $warehouseIds);

### What do you get ?

PHP warning
count(): Parameter must be an array or an object that implements Countable
in  framework/db/schema/CDbCriteria.php(276)

### Patch (compatible with all php versions)

--- if(($n=count($values))<1)
+++ if(($n=count((is_array($values)?$value

[2022-05-05 10:18] marcovtwout commented on #4423
This is not a framework bug: you should pass the second parameter as an array per documentation: https://www.yiiframework.com/doc/api/1.1/CDbCriteria#addInCondition-detail

[2022-05-05 10:18] #4423 closed

[2022-05-06 07:35] Arhell opened #4424 "update pt_br lang links"
http=>https

[2022-05-08 07:31] #4424 closed

[2022-05-12 13:13] Arhell opened #4426 "update ro lang links"
http=>https

[2022-05-14 07:17] #4426 closed

[2022-05-15 08:14] Arhell opened #4428 "update ru lang links"
http=>https

[2022-05-17 05:31] #4428 closed

[2022-05-20 08:53] Arhell opened #4430 "update sv lang links"
http=>https

[2022-05-22 08:18] #4430 closed

[2022-05-24 10:25] Arhell opened #4432 "update uk lang links"
http=>https

[2022-05-27 05:53] #4432 closed

[2022-05-29 10:08] Arhell opened #4434 "update vi lang links"
http=>https

[2022-06-01 06:07] #4434 closed

[2022-06-02 06:23] Arhell opened #4436 "update zh_cn lang links"
http=>https

[2022-06-04 09:09] #4436 closed

[2022-06-05 08:01] Arhell opened #4438 "update zh_tw lang links"

[2022-06-07 06:06] #4438 closed

[2022-06-10 12:48] KajetanDudczak opened #4440 "The select field does not work"
HI,

I have a problem with the select field, the code below, when I remove part of the code "data-toggle="select"" then the field starts working but is not styled.

    /select name="patt_product_unit" id="patt_product_unit" class="custom-select patt-product-unit" data-toggle="select"/

Yii version - 1.1.25
PHP version - 7.4.28

[2022-06-10 13:03] marcovtwout commented on #4440
This does not look like a Yii bug or regression or maybe not even Yii related at all. Perhaps you can find help through one of the community options: https://www.yiiframework.com/community

[2022-06-10 13:03] #4440 closed

[2022-06-22 18:30] Arhell opened #4441 "update yii site links"

[2022-06-24 06:14] #4441 closed

[2022-06-24 08:50] c-schmitz commented on #4385
To be honest, I would not hold my breath for the HTMLPurifier release. Their last release is from 6 months ago and they seem to release very rarely.
Rather use dev for now so Yii1 can finally be fixed.

[2022-06-24 14:49] marcovtwout commented on #4385
@c-schmitz Yes, I'm planning to integrate that and merge within the coming 2 weeks.

[2022-06-29 12:27] juslintek commented on #4385
Nice, would love that Yii 1.1 would support composer 4 autoloader as core namespaces handler, instead of using its own autoloading, based on dot notation. :-) So I could use modern namespaces everywhere and single autoloader would be responsible for loading them. I'm trying to implement some laravel and symfony features on my project and it requires quite a lot of core overriding and extending, to

[2022-06-29 13:05] marcovtwout commented on #4385
@juslintek Your comment is off topic and those kind of changes won't happen. Perhaps this is helpful for you: https://www.yiiframework.com/doc/guide/1.1/en/basics.namespace#namespace

[2022-07-03 20:10] Arhell opened #4443 "update apache link"
### What is the expected result?
http=>https

[2022-07-06 12:45] Arhell opened #4445 "update daringfireball link"
### What is the expected result?
http=>https

[2022-07-08 14:37] marcovtwout commented on #4385
Please see https://github.com/yiisoft/yii/pull/4386#issuecomment-1179062028 for an update about htmlpurifier.

[2022-07-09 10:16] Arhell opened #4447 "update php.net link"
### What is the expected result?
http=>https

[2022-07-12 07:36] Arhell opened #4449 "update sqlite link"
### What is the expected result?
http=>https

[2022-07-12 15:30] marcovtwout commented on #4449
Obsolete by https://github.com/yiisoft/yii/pull/4450

[2022-07-12 15:30] marcovtwout commented on #4447
Obsolete by https://github.com/yiisoft/yii/pull/4450

[2022-07-12 15:30] #4447 closed

[2022-07-12 15:30] #4445 closed

[2022-07-12 15:30] #4443 closed

[2022-07-13 19:45] Arhell opened #4451 "update yii link"

[2022-07-13 21:11] #4451 closed

[2022-07-13 21:13] Arhell opened #4452 "yiisoft.com domain no longer working"

[2022-07-14 07:24] likunyan commented on #201
// a1 and a2 need to be unique together, and they both will receive error message
[['a1', 'a2'], 'unique', 'targetAttribute' => ['a1', 'a2']]

[2022-07-14 07:38] marcovtwout commented on #4452
@Arhell ?

[2022-07-14 07:45] Arhell commented on #4452
http://www.yiisoft.com not workink can delete? or change?

[2022-07-19 14:43] marcovtwout commented on #4385
Fixed by https://github.com/yiisoft/yii/pull/4386

[2022-07-19 14:43] #4385 closed

[2022-07-25 12:54] samdark commented on #4452
It's owned by @qiangxue. Likely he forgot to prolong it or decided not to do it.

[2022-07-25 13:34] #4452 closed

[2022-07-28 14:30] Justinas-Jurciukonis commented on #4366
@marcovtwout  Any updates when Yii will support 8.1? Or even 8.2?

[2022-07-28 14:45] marcovtwout commented on #4366
8.1 support is available in master, see https://github.com/yiisoft/yii/blob/master/CHANGELOG#L7

[2022-08-04 20:53] Arhell opened #4454 "update links"
http=>https

[2022-08-04 23:31] JonathanArgentao opened #4456 "PHP 8.1 CPgsqlSchema error stripos(): Passing null to parameter #1 ($haystack) of type string is deprecated"
### What steps will reproduce the problem?
with Postgres Database configured
$model->find();

### What is the expected result?

### What do you get instead?
an error: stripos(): Passing null to parameter #1 ($haystack) of type string is deprecated
CPgsqlSchema.php:194

### Additional info
adsrc is null when there's not a column default value, and stripos can't receive null

| Q                | A

[2022-08-05 06:38] #4454 closed

[2022-08-05 09:08] marcovtwout commented on #4456
@JonathanArgentao Please retest with `dev-master` since it has PHP 8.1 compatibility.

[2022-08-05 09:12] marcovtwout commented on #4456
@JonathanArgentao Could you confirm this issue still exists on `dev-master`? (see https://github.com/yiisoft/yii/pull/4386)

[2022-08-05 09:45] twisted1919 opened #4458 "Release 1.1.26"
Now that dev-master contains all php 8.1 fixes, can you please release a new version?

[2022-08-05 14:56] marcovtwout commented on #4458
It's pretty likely some more 8.1 issues will be found, but I will plan a new release around the end of september.

[2022-08-05 17:35] JonathanArgentao commented on #4456
@marcovtwout Yes, still exists

[2022-08-08 11:29] #4456 closed

[2022-08-09 20:37] samdark commented on #4458
A decision for release could be made by answering two questions:

1. It it making things better?
2. Does it break existing things?

If the answers are "yes" and "no" then it is a no-brainer.

[2022-08-10 16:42] kenguest commented on #4385
This is fantastic  - is there an ETA on when a new version with support for PHP 8.1 will be released?

[2022-08-15 04:49] sss6672 commented on #4458
да

[2022-08-16 12:53] Arhell opened #4470 "broken links"
While checking the links I found a few not working

https://github.com/yiisoft/yii/blob/master/demos/phonebook/flex/html-template/index.template.html#L11
https://github.com/yiisoft/yii/blob/master/docs/blog/ru/start.overview.txt#L25
https://github.com/yiisoft/yii/blob/master/framework/i18n/data/README.txt#L5
https://github.com/yiisoft/yii/blob/master/framework/utils/CPasswordHelper.php#L141
https:

[2022-08-16 16:53] c-schmitz commented on #4458
1. Yes
2. No

[2022-08-18 06:34] papppeter commented on #4385
Please release it it would be great to have it!

[2022-08-18 08:17] marcovtwout commented on #4385
Release planned for the end of september, you can use master until then.

[2022-08-18 18:52] sss6672 opened #4475 "Совместимость с PHPUnit 8+"
### What steps will reproduce the problem?

### What is the expected result?

### What do you get instead?

### Additional info

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.?
| PHP version      | 7.?
| Operating system |

[2022-08-18 19:07] marcovtwout commented on #4475
Is this a bot account or something?

[2022-08-18 19:07] #4475 closed

[2022-08-19 11:08] kenguest commented on #4458
https://packagist.org/packages/yiisoft/yii doesn't show 1.1.26 as available, yet :-)

[2022-08-19 11:36] marcovtwout commented on #4458
Planned for the end of september, unfortunately I'm really busy right now. Please use master until then.

[2022-08-19 11:36] #4458 closed

[2022-09-06 01:16] juslintek commented on #4366
Noticed one problem after upgrade, the purifier takes very long time to purify email :-)
![image](https://user-images.githubusercontent.com/5687423/188526916-55c82183-b89a-46eb-b4ed-2610fdaf6bdd.png)

[2022-09-09 06:18] #4470 closed

[2022-09-10 10:56] Arhell opened #4482 "broken link xcache"
xcache.lighttpd.net

[2022-09-12 07:16] #4482 closed

[2022-09-13 08:07] jannis701 opened #4484 "after php 7.2-fix for CHttpCacheFilter::sendCacheControlHeader: last-modified-headers are overwritten"
CHttpCacheFilter will not set last-modified-headers. they will be overwritten by sendCacheControlHeader

### What steps will reproduce the problem?
use the httpcacheFilter to set lastmodified

[code]

### What is the expected result?
Header:

`Last-Modified: Mon, 12 Sep 2022 09:00:00 GMT`

### What do you get instead?
Header:

`Last-Modified: Mon, 12 Jun 2020 08:21:00 GMT`

(Date of last change of

[2022-09-15 09:55] karelvasicek opened #4486 "Potential race condition issue in CHttpSession::freeze()/unfreeze()"
### What steps will reproduce the problem?

- 2 parallel requests (`req1` and `req2`)
- session opened not using `Yii::app()->session->open()` (we have mixed Yii1&Yii2 project and session is opened by Yii2 before `session` Yii1 core component is initialized)
- `cookieParams` set in config so `CHttpSession::setCookieParams()` is called
- call `Yii::app()->session->...`
- `freeze()` called by `setCo

[2022-09-21 09:47] sparkcodeuk opened #4487 "PHP version support is not explicit enough in docs"
### What steps will reproduce the problem?
N/A

### What is the expected result?
N/A

### What do you get instead?
N/A

### Additional info

I think it would be best to list the exact minor versions of PHP versions that the Yii 1 framework supports (as a range).

The current README.md states:

"The minimum requirement by Yii is that your Web server supports PHP 5.1.0 or above. Yii has been tested

[2022-09-27 09:23] marcovtwout commented on #4486
@karelvasicek I'm not sure this scenario can really be fixed with framework code. Perhaps you should consider a different (session) storage solution?

[2022-09-27 09:26] marcovtwout commented on #4487
@sparkcodeuk We could detail PHP versions per release, but I'm not sure that information would be any more true. Even after declaring support issues are found and fixed in new minor versions.

I'm fine with declaring the current maximum supported version in the README, would that help sufficiently? (currently 8.0, soon 8.1)

[2022-09-27 09:31] marcovtwout commented on #4484
@jannis701 Could you point out the offending commit/change that broke this in the first place?

[2022-09-27 09:55] rob006 commented on #4486
@marcovtwout I don't think that different storage would make any difference, since the main problem here is that Yii stores session data in `_frozenData`, which may be outdated when session is unfreezed.

[2022-09-27 10:00] rob006 commented on #4487
I would rather focus on releasing more often. Most of PHP 8.1 issues was fixed half a year ago.

[2022-09-27 10:03] karelvasicek commented on #4486
@marcovtwout

This is indeed a very rare scenario, but IMO the system should not allow `req2` to open the session when `req1` is processed ( = when session is frozen by `req1`), in general. `flock()`ing might help?

We worked it around by initiating Yii1 `session` component _before_ session is `open()`ed by Yii2 so freezing/unfreezing is not performed any more.

[2022-09-27 10:06] marcovtwout commented on #4486
Would this scenario be reproducable in a Yii 2 project as well? As far as I can tell it uses the same mechanism with "freezing/unfreezing" and keeping session data in memory when changing cookie params.

[2022-09-27 10:56] karelvasicek commented on #4486
Yes, it's reproducible. I added `sleep(60)` to `unfreeze()` to be able to (reliably) start `req2` in between `freeze()` and `unfreeze()` of `req1` and used following actions
[code]

Steps to reproduce:
1. use `sleep(60)` in `unfreeze()`
2. open `req1`
3. comment out `sleep(60)` in `unfreeze()`
4. open `req2`
5. `cat sess_...` => `__flash|a:0:{}var|s:1:"B";`
6. `req2` ends
7. `cat sess_...` => `__f

[2022-09-27 12:54] sparkcodeuk commented on #4487
Thanks for the reply @marcovtwout, yes I think a simple range as you say would work fine.

My main concern was not knowing whether I was going to find some subtle backwards compatibility 8.1 issues in production (i.e., should have "played it safe" with PHP 8.0).

So for instance, we should all assume the upcoming PHP 8.2.0 RCs are not officially supported by any releases until we see it included i

[2022-09-27 14:33] marcovtwout commented on #4486
@karelvasicek Could you post this issue in the yii2 issue tracker as well? Development is more active there, and whatever fix they choose could then potentially be applied here.

[2022-09-27 14:34] marcovtwout commented on #4487
@sparkcodeuk If you want to play it safe you should use the latest stable and 8.0. Even after the upcoming release with 8.1 support, it is likely new 8.1 issues will still pop up.

[2022-09-29 06:21] karelvasicek commented on #4486
@marcovtwout

https://github.com/yiisoft/yii2/issues/19599 is created.

[2022-09-29 06:41] jannis701 commented on #4484
this one: https://github.com/yiisoft/yii/commit/e08802ea5c178386fb1749d4d65e0ef7b436981d

[2022-09-29 10:04] marcovtwout commented on #4484
@jannis701 This issue seems to be the same thing @rob006 noticed in his code review here: https://github.com/yiisoft/yii/pull/4203/files#r275127437

Could you perhaps add the raw HTTP response here for further clarification? Maybe the last-modified header is sent twice?

[2022-09-30 06:56] jannis701 commented on #4484
without my change:

[code]

after my change:

[code]

but yes, it seems to be the same thing. maybe there is a better fix for the issue?

[2022-09-30 09:04] marcovtwout commented on #4484
@jannis701 I can reproduce this issue here as well.

The[ PHP docs](https://www.php.net/manual/en/function.session-cache-limiter.php) describe something about `session_cache_limiter('public');` also setting the `Last-Modified` header:

Before https://github.com/yiisoft/yii/commit/e08802ea5c178386fb1749d4d65e0ef7b436981d, calling
`session_cache_limiter('public');` does not set this header.
After ht

[2022-09-30 10:42] marcovtwout commented on #4366
@juslintek Your post is not related to this issue, please report this to htmlpurifier if needed: https://github.com/ezyang/htmlpurifier

[2022-09-30 10:45] juslintek commented on #4366
sorry, you can remove your reply. It was datadogs security modules fault, not htmlpurifier or anything related to yii update and phpunit 8+. And you can remove my reply also. :D

[2022-09-30 12:10] marcovtwout commented on #4487
Fixed by https://github.com/yiisoft/yii/commit/8b35ee9c19b4f2540ee8e99e04ffaff09921ce03

[2022-09-30 12:10] #4487 closed

[2022-09-30 12:19] marcovtwout commented on #4458
Release is done like I promised :)

[2022-10-17 09:16] sternix opened #4490 "PostgreSQL 15.0 forward compatibility issue"
Hi,

i upgrade my limesurvey database to PostgreSQL 14.3 -> 15.0 and have this error

SQLSTATE[42804]: Datatype mismatch: 7 ERROR: UNION types "char" and text cannot be matched LINE 21: CASE WHEN indisprimary THEN"

in this file,
[yiisoft/yii/framework/db/schema/pgsql/CPgsqlSchema.php](https://github.com/yiisoft/yii/blob/master/framework/db/schema/pgsql/CPgsqlSchema.php#L233)

i fix my error with

[2022-10-17 10:06] marcovtwout commented on #4490
@sternix Could be an issue with forward compatibility for Postgres 15, but could you please first edit your post and properly fill out the issue template (including simple code to reproduce)?

Is there anything in https://www.postgresql.org/docs/release/15.0/ that you can link to this particular issue?

[2022-10-17 10:29] sternix commented on #4490
### What steps will reproduce the problem?
run script belove with psql

### What is the expected result?
Success

### What do you get instead?
Failure

### Additional info

| Q                | A
| ---------------- | ---
| Yii version      | master
| PHP version      | 8.0
| Operating system | FreeBSD and Debian

[code]

[2022-10-17 10:38] sternix commented on #4490
Hi @marcovtwout
i copied the sql below
https://github.com/yiisoft/yii/blob/master/framework/db/schema/pgsql/CPgsqlSchema.php#L233
for testing,
i read the release notes can't see directly related for this issue,

[2022-10-17 10:47] sternix commented on #4490
Hi,

my script run with
[code]
casting for the line
https://github.com/yiisoft/yii/blob/master/framework/db/schema/pgsql/CPgsqlSchema.php#L242

i tested
PostgreSQL 14.3, 14.5 and 15.0.

[2022-10-17 12:19] sternix commented on #4490
Hi,
from https://www.postgresql.org/docs/current/datatype-character.html

for PostgreSQL
pg_constraint.contype is "char"
'p' or 'u' is character,
if we want "char" type
[code]
is equivalent to pg_constraint.contype,

[2022-10-17 14:28] sternix commented on #4490
Hi, can be tested with,
[code]

[2022-10-19 07:34] sternix commented on #4490
Hi, mailed this error to PostgreSQL mailing list, i have reply below,

https://www.postgresql.org/message-id/8bd63f844a2319a0199f09cfb424a7089587e264.camel%40cybertec.at

They suggests "You will have to add an explicit type cast."
FYI,

[2022-10-21 18:26] georaldc commented on #4486
Is there a reason why one would call CHttpSession::setCookieParams() (or session_set_cookie_params()) after a session is started? Seems like this could be resolved by doing that before session_start() is called

[2022-10-24 07:45] marcovtwout commented on #4486
I suggest to pursue this issue first in https://github.com/yiisoft/yii2/issues/19599. As yii1 is in maintainance mode there is a better chance the issue will be fixed in yii2 first, and perhaps later we can backport it.

[2022-10-24 16:37] Shnoulle opened #4491 "Limit and Offset not working correctly with MSSQL"
### What steps will reproduce the problem?

Use an (MS) SQL server up to 11
get a data table of 150 lines in SQL server
Create a SQL request on a big table and add limit of 100 and offset of 100

[code]

Real code :
https://github.com/LimeSurvey/LimeSurvey/blob/5f7030cc4cdc15bb2ec35768f933d50dbe048096/application/helpers/admin/exportresults_helper.php#L115
Can be seen too on Grid
https://bugs.lime

[2022-10-28 02:18] kristian-94 opened #4492 "strftime function is deprecated in php 8.1 and used in requirements/index.php getServerInfo"
### What steps will reproduce the problem?
Install latest Yii 1.1.26 version and on PHP 8.1. Call `getServerInfo` in [requirements/index.php](https://github.com/yiisoft/yii/blob/master/requirements/index.php#L277)

### What is the expected result?
Print the current date and time

### What do you get instead?
Error: `Function strftime() is deprecated`  https://www.php.net/manual/en/function.strftim

[2022-10-28 02:20] kristian-94 commented on #4492
I guess having the @ symbol does the trick of suppressing the error anyway sorry, I can close this.

[2022-10-28 02:20] #4492 closed

[2022-11-09 11:24] tonykor opened #4494 "Use of undefined constant id / CGridView widget"
[code]

Changing yii/framework/base/CComponent.php(614) to

`return @eval('return ' . $_expression_ . ';');`

fixes the problem

### Additional info

| Q                | A
| ---------------- | ---
| Yii version      | 1.1.26
| PHP version      | 7.4.27

[2022-11-09 11:30] marcovtwout commented on #4494
@tonykor Your issue information is incomplete: the stack trace does not include the custom $expression that is parsed here, and that one most likely contains the problem. Can you provide a complete example?

[2022-11-09 11:41] marcovtwout commented on #4491
Could you clarify: Is this a forward compatibility issue with newer MSSQL versions? Or a bug when using older versions of MSSQL? And which versions exactly are working/broken?

This seems to be the related issue for Yii 2: https://github.com/yiisoft/yii2/pull/4254, and the fix: https://github.com/yiisoft/yii2/commit/212c5ee3ef2eb244f7ca346ea1825427200b3394

[2022-11-09 12:30] Shnoulle commented on #4491
It's forward compatibility issue with newer MSSQL. I'm sure it broke with SQL15, the related fix in Yii2 show SQL11

It's already fixed in Yii2, but not in Yii1 :)

Unsure MSSQL issue are OK to be merged.

[2022-11-09 12:58] marcovtwout commented on #4491
@Shnoulle If this is the same issue that was fixed in Yii 2, that would mean that offset/pagination has never worked on Yii 1 withMSSQL 2012 ( "v11")  and up? Seems strange that this is reported now if this problem already exists for 10 years.

Could anyone perhaps try to reproduce the issue on older MSSQL versions, such as 14, 11 and 10?

[2022-11-09 14:23] Shnoulle commented on #4491
For LimeSurvey : it exist since a lot of time, but the real issue shown only on grid part.
And clearly : see the last 10 element and not 5 aren't seen like an issue

You can compare

Yii1 limit/offset version : https://github.com/yiisoft/yii/blob/cea893f9afda96f35ba99a284dd5dcd09992f0e2/framework/db/schema/mssql/CMssqlCommandBuilder.php#L216

And Yii2 limit/offset/order compatible version https://

[2022-11-09 16:44] #4494 closed, assigned to nobody

[2022-11-29 10:08] alexius opened #4497 "Redis Cache - Deprecated: unserialize(): Passing null to parameter #1."
Hello everybody,
after updating Yii 1 to the version 1.1.27 we got this error:

`Deprecated: unserialize(): Passing null to parameter #1 ($data) of type string is deprecated in /srv/www/htdocs/ilya/mike.matthies.p2/protected/framework/caching/CCache.php on line 108`

### What steps will reproduce the problem?
We use cache during SQL request:

`$query = Yii::app()->db->cache(3600)
->createCommand()

[2022-11-29 11:19] rob006 commented on #4497
Which cache backend you're using?

[2022-11-29 15:39] alexius commented on #4497
We use Redis.

I see that this issue is going to be resolve. Thanks

[2022-11-30 10:03] alexius commented on #4497
There is another problem too - when we use the cache (php8+Yii+Redis), we get this problem
`
Fatal error: Uncaught CDbException: The table "tablename" for active record class "TablenameRecord" cannot be found in the database. in /srv/www/htdocs/.../framework/db/ar/CActiveRecord.php on line 2391
CDbException: The table "tablename" for active record class "TablenameRecord" cannot be found in the dat

[2022-11-30 11:39] marcovtwout commented on #4497
@alexius We recently had a similar case in https://github.com/yiisoft/yii/pull/4480 with unserialize(null) which turned out to be a problem in application code, not in framework code. Could you provide a bit more thorough reproducible sample code that demonstrates this issue so we can investigate?